.ui-state-error {
  background-color: #fcd5d4;
  border-color: #f69593;
  color: #813331;
}
.ui-state-highlight {
  background-color: #c6eafa;
  border-color: #70caf3;
  color: #155e7f;
}
.carousel {
  position: relative;
  max-width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.carousel .carousel-clip {
  overflow: hidden;
  height: 100%;
}
.carousel .carousel-wrap {
  font-size: 0;
  min-width: 100%;
}
.carousel .carousel-wrap .carousel-item {
  font-size: 13px;
  display: inline-block;
  vertical-align: top;
}
.carousel:hover .carousel-btn {
  display: block;
}
.carousel .carousel-btn {
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 15;
  margin: auto;
  width: 3em;
  display: none;
  font-size: 13px;
}
.carousel .carousel-btn::before {
  font-family: flexkit-icons;
  font-size: 3em;
  line-height: 1;
  height: 1em;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.carousel .carousel-btn.prev {
  left: 0;
}
.carousel .carousel-btn.prev::before {
  content: "\e0a9";
}
.carousel .carousel-btn.next {
  right: 0;
}
.carousel .carousel-btn.next::before {
  content: "\e0a7";
}
.carousel .carousel-btn:hover {
  background: rgba(255, 255, 255, 0.9);
}
.smoke-base .smokebg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.5);
}
.smoke-base.smoke-visible .dialog {
  background: inherit;
  border: inherit;
  box-shadow: 0 0 0 transparent;
}
.smoke-base .dialog {
  position: fixed;
  z-index: 1001;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
}
.smoke-base .dialog.primary .dialog-inner {
  color: #765712;
  border-color: #e8c26b;
  background-color: #f6e7c4;
}
.smoke-base .dialog.success .dialog-inner {
  color: #2a6a2c;
  border-color: #8ada8c;
  background-color: #d0f0d1;
}
.smoke-base .dialog.warning .dialog-inner {
  color: #886730;
  border-color: #ffd691;
  background-color: #ffefd3;
}
.smoke-base .dialog.error .dialog-inner {
  color: #813331;
  border-color: #f69593;
  background-color: #fcd5d4;
}
.smoke-base .dialog.info .dialog-inner {
  color: #155e7f;
  border-color: #70caf3;
  background-color: #c6eafa;
}
.smoke-base .dialog li {
  margin: 0;
  list-style: none;
}
.smoke-base .dialog li + li {
  margin-top: 0.5em;
}
.smoke-base .dialog-inner {
  overflow: auto;
  margin-top: 15%;
  max-width: 1402.5px;
  max-height: 70%;
  font-size: 1.25em;
  padding: 1em 2em;
  border: 1px solid #888888;
  background-color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.25);
}
.smoke-base .dialog-buttons {
  margin-top: 1em;
}
.smoke-base .dialog-buttons button {
  font-size: 12px;
  color: #FFF;
  border-color: #189b1a;
  background-color: #4fc752;
}
.smoke-base .dialog-buttons button:hover,
.smoke-base .dialog-buttons button:active,
.smoke-base .dialog-buttons button.active {
  color: #FFF;
  border-color: #126f13;
  background-color: #37ac3a;
}
.smoke-base .dialog-buttons button.cancel {
  margin-right: 0.5em;
  color: #FFF;
  border-color: #e62321;
  background-color: #f25f5c;
}
.smoke-base .dialog-buttons button.cancel:hover,
.smoke-base .dialog-buttons button.cancel:active,
.smoke-base .dialog-buttons button.cancel.active {
  color: #FFF;
  border-color: #be1816;
  background-color: #ee312d;
}
.ui-dialog {
  position: absolute;
  z-index: 100;
  padding: 0;
  border-width: 0;
  border-style: solid;
  border-color: #c6931e;
  background-color: #fff;
  max-width: 90%;
  color: inherit;
  box-shadow: 4px 4px 4px #222222;
}
.ui-effects-wrapper .ui-dialog {
  max-width: none;
}
.ui-dialog.fixed {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-filter: blur(0);
}
.ui-dialog .ui-dialog-titlebar {
  font-size: 1.25em;
  background: #dca321;
  color: #FFF;
  padding: 10px 2rem;
  position: relative;
  line-height: 1.5;
  height: auto;
  z-index: 1;
}
.ui-dialog.ui-draggable .ui-dialog-titlebar {
  cursor: move;
}
.ui-dialog .ui-dialog-title {
  display: block;
  font-weight: bold;
  font-family: 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  text-transform: none;
  max-width: 100%;
  text-overflow: clip;
  white-space: normal;
  line-height: 1.2;
  padding: 0.5rem 2.875rem 0.5rem 0;
}
.ui-dialog .ui-dialog-titlebar-close {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1.625rem;
  border: none;
  margin: auto;
  padding: 10px;
  background: transparent;
  color: #FFF;
  box-sizing: content-box;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 0;
}
.ui-dialog .ui-dialog-titlebar-close:hover {
  color: #f25f5c;
}
.ui-dialog .ui-dialog-titlebar-close::before {
  font-size: 16px;
}
.ui-dialog .ui-dialog-titlebar-close::before {
  font-family: flexkit-icons;
  speak: none;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e099";
}
.ui-dialog .ui-dialog-titlebar-close .ui-button-text {
  display: none;
}
.ui-dialog .ui-dialog-content {
  position: relative;
  border: 0;
  padding: 10px 16px;
  overflow: auto;
}
.ui-dialog .ui-dialog-content.visible {
  overflow: visible;
}
.ui-dialog .ui-dialog-buttonpane {
  overflow: hidden;
  text-align: left;
  border-width: 1px 0 0 0;
  background-image: none;
  padding: 8px 16px;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: right;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonpane button {
  margin: 0.5em 0.4em 0.5em 0;
  cursor: pointer;
}
.ui-dialog .ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
}
.ui-dialog .ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0;
}
.ui-dialog .ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
}
.ui-dialog .ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0;
}
.ui-dialog .ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%;
}
.ui-dialog .ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: -5px;
  bottom: -5px;
}
.ui-dialog .ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}
.ui-dialog .ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}
.ui-dialog .ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}
.ui-dialog.success .ui-dialog-titlebar,
.ui-dialog.warning .ui-dialog-titlebar,
.ui-dialog.error .ui-dialog-titlebar,
.ui-dialog.info .ui-dialog-titlebar {
  color: #fff;
}
.ui-dialog.success {
  border-color: #4fc752;
}
.ui-dialog.success .ui-dialog-titlebar {
  background: #4fc752;
}
.ui-dialog.warning {
  border-color: #ffc159;
}
.ui-dialog.warning .ui-dialog-titlebar {
  background: #ffc159;
}
.ui-dialog.error {
  border-color: #f25f5c;
}
.ui-dialog.error .ui-dialog-titlebar {
  background: #f25f5c;
}
.ui-dialog.error .ui-dialog-titlebar .ui-dialog-titlebar-close:hover {
  color: #ec1915;
}
.ui-dialog.info {
  border-color: #28b0ed;
}
.ui-dialog.info .ui-dialog-titlebar {
  background: #28b0ed;
}
.ui-dialog.rounded-corners {
  overflow: hidden;
  border-radius: 1em;
}
@media only screen and (max-width: 1024px) {
  .ui-dialog {
    border-radius: 0 0 0 0 !important;
    position: fixed !important;
    height: 100% !important;
    width: 100% !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    max-width: 100% !important;
    overflow: auto !important;
    z-index: 1002;
    -webkit-overflow-scrolling: touch;
  }
  .ui-dialog .ui-dialog-content {
    margin-top: -3.75rem;
    padding-top: 3.75rem !important;
    overflow-x: hidden;
    width: 100%;
    min-height: 100% !important;
    max-height: 100% !important;
  }
}
@media only screen and (max-width: 768px) {
  .ui-dialog .ui-dialog-titlebar {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .ui-dialog .ui-dialog-titlebar-close {
    right: 0;
  }
}
@media only screen and (max-width: 1024px) {
  .ios-fix {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
#dialog,
#video-in-dialog,
#dialog-sign-in {
  padding: 0;
}
#dialog .middle-section,
#video-in-dialog .middle-section,
#dialog-sign-in .middle-section {
  padding: 1.3rem 2rem 0;
}
#dialog .bottom-section,
#video-in-dialog .bottom-section,
#dialog-sign-in .bottom-section {
  overflow: hidden;
  border-top: 1px solid #f3f3f3;
  padding: 1.125rem 2rem;
}
#dialog .btn-section,
#video-in-dialog .btn-section,
#dialog-sign-in .btn-section {
  margin-left: -0.25rem;
  margin-right: -0.25rem;
  margin-bottom: -0.5rem;
  font-size: 0;
}
#dialog .btn-section > *,
#video-in-dialog .btn-section > *,
#dialog-sign-in .btn-section > * {
  font-size: 13px;
  display: inline-block;
  vertical-align: middle;
}
#dialog .btn-section .btn,
#video-in-dialog .btn-section .btn,
#dialog-sign-in .btn-section .btn {
  margin: 0 0.25rem 0.5rem;
}
#dialog .btn,
#video-in-dialog .btn,
#dialog-sign-in .btn {
  height: 3.375rem;
  line-height: 3.375rem;
  font-size: 1.125rem;
  width: 192px;
  max-width: 100%;
}
#dialog .btn.transparent,
#video-in-dialog .btn.transparent,
#dialog-sign-in .btn.transparent {
  color: #dca321;
  border-color: transparent;
  background-color: tranparent;
}
#dialog .btn.transparent:hover,
#video-in-dialog .btn.transparent:hover,
#dialog-sign-in .btn.transparent:hover,
#dialog .btn.transparent:active,
#video-in-dialog .btn.transparent:active,
#dialog-sign-in .btn.transparent:active,
#dialog .btn.transparent.active,
#video-in-dialog .btn.transparent.active,
#dialog-sign-in .btn.transparent.active {
  color: #FFF;
  border-color: #dca321;
  background-color: #dca321;
}
#dialog .g-recaptcha,
#video-in-dialog .g-recaptcha,
#dialog-sign-in .g-recaptcha {
  text-align: center;
  margin-top: 8px;
}
#dialog .g-recaptcha > div,
#video-in-dialog .g-recaptcha > div,
#dialog-sign-in .g-recaptcha > div {
  display: inline-block;
  vertical-align: middle;
}
#dialog input[type="text"],
#video-in-dialog input[type="text"],
#dialog-sign-in input[type="text"],
#dialog input[type="number"],
#video-in-dialog input[type="number"],
#dialog-sign-in input[type="number"],
#dialog select,
#video-in-dialog select,
#dialog-sign-in select,
#dialog textarea,
#video-in-dialog textarea,
#dialog-sign-in textarea,
#dialog input[type="password"],
#video-in-dialog input[type="password"],
#dialog-sign-in input[type="password"] {
  border: 2px solid #d5d5d5;
}
#dialog input[type="text"]:focus,
#video-in-dialog input[type="text"]:focus,
#dialog-sign-in input[type="text"]:focus,
#dialog input[type="number"]:focus,
#video-in-dialog input[type="number"]:focus,
#dialog-sign-in input[type="number"]:focus,
#dialog select:focus,
#video-in-dialog select:focus,
#dialog-sign-in select:focus,
#dialog textarea:focus,
#video-in-dialog textarea:focus,
#dialog-sign-in textarea:focus,
#dialog input[type="password"]:focus,
#video-in-dialog input[type="password"]:focus,
#dialog-sign-in input[type="password"]:focus {
  border-color: #dca321;
}
#dialog textarea,
#video-in-dialog textarea,
#dialog-sign-in textarea {
  min-height: 103px;
}
#dialog input[type="text"],
#video-in-dialog input[type="text"],
#dialog-sign-in input[type="text"],
#dialog select,
#video-in-dialog select,
#dialog-sign-in select,
#dialog input[type="number"],
#video-in-dialog input[type="number"],
#dialog-sign-in input[type="number"],
#dialog input[type="password"],
#video-in-dialog input[type="password"],
#dialog-sign-in input[type="password"] {
  height: 35px;
  line-height: 35px;
}
@media only screen and (max-width: 768px) {
  #dialog input[type="text"],
  #video-in-dialog input[type="text"],
  #dialog-sign-in input[type="text"],
  #dialog select,
  #video-in-dialog select,
  #dialog-sign-in select,
  #dialog input[type="number"],
  #video-in-dialog input[type="number"],
  #dialog-sign-in input[type="number"],
  #dialog input[type="password"],
  #video-in-dialog input[type="password"],
  #dialog-sign-in input[type="password"] {
    height: 52px;
    line-height: 52px;
  }
}
#dialog label,
#video-in-dialog label,
#dialog-sign-in label {
  margin-bottom: 0.125rem;
  padding-left: 0.125rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75rem;
}
#dialog p,
#video-in-dialog p,
#dialog-sign-in p {
  margin-bottom: 10px;
}
@media only screen and (max-width: 768px) {
  #dialog .middle-section,
  #video-in-dialog .middle-section,
  #dialog-sign-in .middle-section,
  #dialog .bottom-section,
  #video-in-dialog .bottom-section,
  #dialog-sign-in .bottom-section {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
#dialog input[type="submit"] {
  display: none;
}
#dialog-sign-in .btn {
  width: auto;
}
.ui-datepicker {
  z-index: 110 !important;
  display: none;
  padding: 0;
  width: 210px;
  border: 1px solid #DDD;
  background: #fff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
.ui-datepicker .ui-datepicker-header {
  background: #bbbbbb;
  color: #333;
  font-size: 16px;
  height: 30px;
  text-align: center;
  position: relative;
}
.ui-datepicker .ui-datepicker-header > a {
  position: absolute;
  top: 0;
  background: #bbbbbb;
  color: #333;
  padding: 8px;
  text-decoration: none;
  line-height: 0;
  box-sizing: content-box;
}
.ui-datepicker .ui-datepicker-header > a::before {
  font-size: 14px;
  width: 14px;
  height: 14px;
}
.ui-datepicker .ui-datepicker-header > a span {
  display: none;
}
.ui-datepicker .ui-datepicker-header > a.ui-datepicker-prev::before,
.ui-datepicker .ui-datepicker-header > a.ui-datepicker-next::before {
  font-family: flexkit-icons;
  speak: none;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ui-datepicker .ui-datepicker-header > a.ui-datepicker-prev {
  left: 0;
}
.ui-datepicker .ui-datepicker-header > a.ui-datepicker-prev::before {
  content: "\e0ad";
}
.ui-datepicker .ui-datepicker-header > a.ui-datepicker-next {
  right: 0;
}
.ui-datepicker .ui-datepicker-header > a.ui-datepicker-next::before {
  content: "\e0ab";
}
.ui-datepicker .ui-datepicker-header > a:hover {
  background: #afafaf;
}
.ui-datepicker .ui-datepicker-header > .ui-datepicker-title {
  line-height: 30px;
  margin: 0 30px;
  font-weight: normal;
}
.ui-datepicker .ui-datepicker-header > .ui-datepicker-title select {
  width: 49%;
  height: auto;
  float: left;
  padding: 0;
  text-align: center;
  line-height: inherit;
  border: none;
}
.ui-datepicker .ui-datepicker-header > .ui-datepicker-title select + select {
  margin-left: 2%;
}
.ui-datepicker .ui-datepicker-calendar {
  width: 100%;
  border: none;
}
.ui-datepicker .ui-datepicker-calendar td,
.ui-datepicker .ui-datepicker-calendar th {
  padding: 0;
  text-align: center;
  width: 30px;
  vertical-align: middle;
}
.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-week-end > *,
.ui-datepicker .ui-datepicker-calendar th.ui-datepicker-week-end > * {
  color: #e0706e;
}
.ui-datepicker .ui-datepicker-calendar thead th {
  line-height: 30px;
  background: transparent;
  color: #555555;
  font-size: 10px;
}
.ui-datepicker .ui-datepicker-calendar tbody td {
  font-size: 0.75em;
  border-right: 1px solid #DDD;
  border-top: 1px solid #DDD;
  line-height: 30px;
}
.ui-datepicker .ui-datepicker-calendar tbody td a,
.ui-datepicker .ui-datepicker-calendar tbody td span {
  display: block;
}
.ui-datepicker .ui-datepicker-calendar tbody td a {
  padding: 0 !important;
  color: #555555;
  background: transparent;
  border: none;
}
.ui-datepicker .ui-datepicker-calendar tbody td a:hover {
  background: #f6e7c4;
}
.ui-datepicker .ui-datepicker-calendar tbody td.ui-state-disabled {
  color: #ddd;
}
.ui-datepicker .ui-datepicker-calendar tbody td.ui-state-disabled > * {
  color: inherit;
}
.ui-datepicker .ui-datepicker-calendar tbody td.ui-datepicker-current-day a {
  color: #555555;
  background: #bbbbbb;
}
.ui-datepicker .ui-datepicker-calendar tbody td.ui-datepicker-today a {
  color: #FFF;
  background: #dca321;
}
.tooltip {
  cursor: help;
}
a.tooltip {
  cursor: pointer;
}
.paginator {
  padding-top: 30px;
  border-top: 1px dashed #8b8b8b;
  width: 100%;
  display: block;
  color: #bbbbbb;
  cursor: default;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
}
.paginator span,
.paginator a {
  border: none;
  font-size: 16px;
}
.paginator span.current,
.paginator a.current {
  font-weight: bold;
  color: #000;
}
.paginator .page {
  cursor: pointer;
  border-color: #bbbbbb;
}
.paginator .page:hover {
  background: #bbbbbb;
  color: #888888;
}
.paginator .page.selected,
.paginator .page.current {
  font-weight: bold;
  color: #000;
}
.paginator :first-child,
.paginator :last-child {
  font-weight: bold;
  font-size: 0 !important;
}
.paginator :first-child::before,
.paginator :last-child::before {
  font-size: 16px;
  font-family: flexkit-icons;
}
.paginator :first-child::before {
  font-size: 16px;
  content: "\e0a9";
}
.paginator :last-child::before {
  font-size: 16px;
  content: "\e0a7";
}
.chosen-select {
  width: 100%;
}
.chosen-select-deselect {
  width: 100%;
}
.dataTables_wrapper {
  width: 100%;
}
.dataTables_wrapper .dataTables_filter {
  padding: 5px;
  text-align: right;
  font-size: 0.85em;
}
.dataTables_wrapper .dataTables_filter label input {
  margin-left: 5px;
  width: 250px;
}
.dataTables_wrapper .sorting,
.dataTables_wrapper .sorting_asc,
.dataTables_wrapper .sorting_desc {
  cursor: pointer;
  position: relative;
  padding-right: 16px;
  border-left: 1px solid #dddddd;
}
.dataTables_wrapper .sorting::after,
.dataTables_wrapper .sorting_asc::after,
.dataTables_wrapper .sorting_desc::after {
  font-family: flexkit-icons;
  speak: none;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e0b6";
  font-size: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.dataTables_wrapper .sorting_asc::after {
  content: "\e0b5";
}
.dataTables_wrapper .sorting_desc::after {
  content: "\e0b2";
}
.dataTables_wrapper .dataTables_empty {
  text-align: center;
}
.dataTables_paginate {
  margin-top: 1em;
  float: right;
  font-size: 12px;
}
.dataTables_paginate .paginate_button {
  background: #eeeeee;
  margin: 0 0.25em;
  padding: 0.25em 0.75em;
  min-width: 2em;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #222222;
}
.dataTables_paginate .paginate_button:hover {
  background: #e7e7e7;
}
.dataTables_paginate .paginate_button.disabled,
.dataTables_paginate .paginate_button.current {
  cursor: default;
  color: #e2e2e2;
  background: #f6f6f6;
}
.dataTables_paginate .paginate_button.current {
  font-weight: bold;
  background: #f5d792;
  color: #fff;
}
.dataTables_paginate .paginate_button.first::before,
.dataTables_paginate .paginate_button.last::before,
.dataTables_paginate .paginate_button.previous::before,
.dataTables_paginate .paginate_button.next::before,
.dataTables_paginate .paginate_button.first::after,
.dataTables_paginate .paginate_button.last::after,
.dataTables_paginate .paginate_button.previous::after,
.dataTables_paginate .paginate_button.next::after {
  font-family: flexkit-icons;
  speak: none;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.dataTables_paginate .paginate_button.first,
.dataTables_paginate .paginate_button.last {
  font-weight: bold;
}
.dataTables_paginate .paginate_button.first::before,
.dataTables_paginate .paginate_button.last::before,
.dataTables_paginate .paginate_button.first::after,
.dataTables_paginate .paginate_button.last::after {
  font-size: 15px;
  font-weight: bold;
}
.dataTables_paginate .paginate_button.first::before,
.dataTables_paginate .paginate_button.previous::before {
  content: "\e0b1";
}
.dataTables_paginate .paginate_button.last::after,
.dataTables_paginate .paginate_button.next::after {
  content: "\e0af";
}
.responsive-ratio {
  position: relative;
  overflow: hidden;
  padding: 0;
  display: block;
  height: auto !important;
}
.responsive-ratio::before {
  display: block;
  content: " ";
}
._16x9.responsive-ratio::before {
  padding-bottom: 56.25%;
}
._9x16.responsive-ratio::before {
  padding-bottom: 177.77777778%;
}
._4x3.responsive-ratio::before {
  padding-bottom: 75%;
}
._3x4.responsive-ratio::before {
  padding-bottom: 133.33333333%;
}
._1x1.responsive-ratio::before {
  padding-bottom: 100%;
}
.responsive-ratio iframe,
.responsive-ratio object,
.responsive-ratio embed,
.responsive-ratio video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.responsive-ratio > img,
.responsive-ratio ._lbox img,
.responsive-ratio .gall img {
  position: absolute !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  min-height: 100% !important;
  min-width: 100% !important;
  width: auto;
  height: auto;
}
._9x16.responsive-ratio > img,
._3x4.responsive-ratio > img,
._1x1.responsive-ratio > img {
  max-width: none;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.responsive-ratio.bottom > img,
.responsive-ratio.bottom ._lbox img,
.responsive-ratio.bottom .gall img {
  min-height: 0 !important;
  top: auto;
}
.responsive-ratio.top > img,
.responsive-ratio.top ._lbox img,
.responsive-ratio.top .gall img {
  min-height: 0 !important;
  bottom: auto;
}
