body {
  background: #f6f6ef;
}
html,
body {
  height: 100%;
}
.search-container {
  position: relative;
  z-index: 11;
  margin: 1.153rem 0;
  display: inline-block;
  vertical-align: top;
  background: transparent;
  color: #FFF;
}
.search-container .search-element {
  display: block;
  padding: 0.615rem 2.461rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.23rem;
  cursor: pointer;
  color: inherit;
  border-radius: 30px;
}
.search-container .search-element:hover {
  background: #f2c64f;
  color: #262625;
}
.search-container .search-element.active {
  background: #f2c64f;
  color: #262625;
}
.search-container .search-element.active::before {
  content: "\e099";
}
.header {
  color: #555555;
  background: #3e3e3e;
  padding-top: 74px;
}
.header .logo {
  text-decoration: none;
  margin: 0;
  padding: 1.5rem 0;
  font-size: 0;
}
.header .logo a {
  display: inline-block;
}
.top-line {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.dark-gray {
  background: #262625;
}
.full-width {
  width: 100%;
  overflow: hidden;
  display: block;
  position: relative;
}
.full-width > img {
  display: none;
}
.first {
  font-size: 7em;
  font-size: 7vw;
}
.page-404 {
  min-height: calc(100% - 194px);
  background-size: cover;
  background-position: 50% 0;
}
.page-404 .page-404-content {
  padding: 17.38rem 0;
}
.page-404 .page-404-title {
  color: #FFF;
  margin-bottom: 4.61rem;
}
.page-404 .page-404-text {
  color: #FFF;
  font-style: italic;
  font-size: 1.07rem;
  margin-bottom: 2rem;
}
.page-thank-you {
  min-height: calc(100% - 194px);
  background-size: cover;
  background-position: 50% 0;
}
.page-thank-you .page-thank-you-content {
  padding: 17.38rem 0;
}
.page-thank-you .page-thank-you-title {
  color: #FFF;
  margin-bottom: 4.61rem;
}
.page-thank-you .page-thank-you-text {
  color: #FFF;
  font-style: italic;
  font-size: 1.07rem;
  margin-bottom: 2rem;
}
.page-thank-you .page-thank-you-btn {
  line-height: 1.2;
  height: auto;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
aside .aside-box {
  margin-bottom: 2.307rem;
}
footer {
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6.15rem 0;
  color: #FFF;
  font-size: 1.23rem;
}
footer .footer-title {
  font-size: 2rem;
  line-height: 1.4;
  margin-bottom: 1.53rem;
  color: #dca321;
}
footer .footer-label {
  display: inline-block;
  min-width: 7.07rem;
}
footer .footer-address-item {
  display: block;
  margin-bottom: 0.384rem;
}
footer .footer-address-item.fax {
  margin-bottom: 1.846rem;
}
footer .footer-menu .main_menu li {
  width: 100%;
}
footer .footer-menu .main_menu li:hover {
  background: none;
}
footer .footer-menu .main_menu a {
  padding: 0.46rem 2rem;
  text-transform: none;
  background: none;
}
footer .footer-menu .main_menu a:hover,
footer .footer-menu .main_menu a.current {
  background: none;
  color: #dca321;
}
footer .social-links {
  margin-top: 2.307rem;
}
footer .social-links .btn {
  margin: 0 0.23rem 0.46rem;
  width: 3.38rem;
  height: 3.38rem;
  line-height: 3.38rem;
  border-radius: 50%;
  background: #FFF;
  color: #262625;
}
footer .social-links .btn:hover {
  background: #dca321;
  color: #262625;
}
#go-top {
  color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
}
#go-top:hover,
#go-top:active,
#go-top.active {
  color: #FFF;
  border-color: #dca321;
  background-color: #dca321;
}
.webPage-go-top {
  color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
}
.webPage-go-top:hover,
.webPage-go-top:active,
.webPage-go-top.active {
  color: #FFF;
  border-color: #dca321;
  background-color: #dca321;
}
.page-flexgrid-example {
  padding: 3em 0;
}
.page-flexgrid-example code {
  padding: 0 4px;
  border: none;
  background-color: transparent;
}
.page-flexgrid-example ._example {
  background-color: #dfa92d;
  color: #FFF;
  margin-top: 0.15em;
  margin-bottom: 0.15em;
  padding: 0.5em;
  font-size: 12px;
}
.page-flexgrid-example ._example ._example {
  background-color: #e7bf62;
}
.container.width-800 {
  width: 800px;
}
.container.width-1160 {
  width: 1160px;
}
.container.width-1570 {
  width: 1570px;
}
.youtube,
.html5-video {
  background-color: #eee;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}
.youtube .play-button,
.html5-video .play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-filter: blur(0);
  height: 3.846rem;
  width: 5.38rem;
  background-image: url("/themes/start-booster/images/youtube.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.youtube.hide,
.html5-video.hide {
  display: none !important;
}
.text-container {
  font-size: 1.07rem;
  font-style: italic;
}
.mt-40 {
  margin-top: 3.07rem;
}
.mb-40 {
  margin-bottom: 3.07rem;
}
.mt-50 {
  margin-top: 3.846rem;
}
.mb-50 {
  margin-bottom: 3.846rem;
}
.mt-70 {
  margin-top: 5.384rem;
}
.mb-70 {
  margin-bottom: 5.384rem;
}
.mw-440 {
  max-width: 440px;
}
.mb110px {
  margin-bottom: 8.461rem;
}
.pt30px {
  padding-top: 2.307rem;
}
.pb30px {
  padding-bottom: 2.307rem;
}
.ngmb30px {
  margin-bottom: -30px !important;
}
.read-more {
  font-size: 1.07rem;
  text-transform: uppercase;
}
.read-more::after {
  content: " >>";
}
.text-content {
  font-size: 1.07rem;
  line-height: 1.4;
  margin-bottom: 1.153rem;
}
.text-content.line-1_6 {
  line-height: 1.6;
}
.mb44px {
  margin-bottom: 3.38rem;
}
.pb0px {
  padding-bottom: 0;
}
.copyright {
  padding: 4.92rem 0;
  font-size: 1.23rem;
}
.category-list.style_1 .category-item {
  position: relative;
  border: 1px solid #262625;
  margin-bottom: 2.307rem;
  height: 0;
  padding-bottom: 14%;
  overflow: hidden;
  text-align: center;
  background-size: cover;
  background-position: 50% 50%;
}
.category-list.style_1 .category-logo {
  height: 4.615rem;
  margin-top: 3.538rem;
  margin-bottom: 2rem;
  width: auto;
}
.category-list.style_1 .category-logo img {
  width: auto;
  height: 100%;
}
.category-list.style_1 .category-title {
  font-size: 1.69rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 2rem;
  line-height: 1.2;
  margin-bottom: 1.153rem;
  height: 4rem;
  overflow: hidden;
  display: block;
  color: #262625;
}
.category-list.style_2 .category-inner {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.12);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 10px 10px 10px 10px;
  padding: 0 0 80px 0;
  overflow: hidden;
  min-height: 100%;
}
.category-list.style_2 .category-item {
  position: relative;
  text-align: center;
  margin-bottom: 4%;
}
.category-list.style_2 .category-item:hover .category-inner {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.12);
}
.category-list.style_2 .category-preview {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.category-list.style_2 .category-btn-container {
  padding: 0 50px 40px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.category-list.style_2 .category-logo {
  height: 4.615rem;
  margin-top: 30px;
  padding: 0 30px;
  margin-bottom: 30px;
  width: auto;
}
.category-list.style_2 .category-logo img {
  width: auto;
  height: 100%;
}
.category-list.style_2 .category-description {
  padding: 0 30px;
  margin-bottom: 30px;
}
.category-list.style_2 .category-title {
  margin-top: 30px;
  font-size: 1.69rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 30px;
  line-height: 1.2;
  margin-bottom: 30px;
  min-height: 4rem;
  overflow: hidden;
  display: block;
  color: #262625;
}
.flex-row.no-margin {
  flex-basis: 100%;
  max-width: 100%;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.image-admin {
  position: absolute;
  left: 5px;
  top: 5px;
}
.image-admin > img {
  display: none;
}
.references-image {
  margin-top: -1.53rem;
}
.contact-box {
  padding-top: 1.384rem;
  padding-left: 6.461rem;
  font-size: 1.69rem;
  font-style: italic;
  margin-bottom: 2.307rem;
}
.contact-box::before {
  float: left;
  margin-top: -1.53rem;
  margin-left: -6.461rem;
  font-size: 5.69rem;
  color: #dca321;
}
.map {
  background-color: #eee;
}
.review-header {
  text-align: center;
}
.pagerating-stars .r-head-text,
.review-box .r-head-text {
  display: none;
}
.pagerating-stars .total-review,
.review-box .total-review {
  display: none;
}
.review-box .starrating {
  border: 1px solid #dca321;
  border-radius: 1rem 1rem 0 0;
  padding: 1rem 1rem 1.23rem;
  margin-bottom: -1px;
}
.review-form {
  border: 1px solid #dca321;
  border-radius: 0 0 1em 1em;
  padding: 1rem;
}
.review-form label {
  display: none;
}
.review-form input[type="text"]::-webkit-input-placeholder,
.review-form input[type="email"]::-webkit-input-placeholder,
.review-form textarea::-webkit-input-placeholder {
  color: #333;
}
.review-form input[type="text"]::-moz-placeholder,
.review-form input[type="email"]::-moz-placeholder,
.review-form textarea::-moz-placeholder {
  color: #333;
}
.review-form input[type="text"]:-ms-input-placeholder,
.review-form input[type="email"]:-ms-input-placeholder,
.review-form textarea:-ms-input-placeholder {
  color: #333;
}
.review-form input[type="text"]:placeholder,
.review-form input[type="email"]:placeholder,
.review-form textarea:placeholder {
  color: #333;
}
.review-form input[type="text"]:focus::-webkit-input-placeholder,
.review-form input[type="email"]:focus::-webkit-input-placeholder,
.review-form textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
.review-form input[type="text"]:focus::-moz-placeholder,
.review-form input[type="email"]:focus::-moz-placeholder,
.review-form textarea:focus::-moz-placeholder {
  color: transparent;
}
.review-form input[type="text"]:focus:-ms-input-placeholder,
.review-form input[type="email"]:focus:-ms-input-placeholder,
.review-form textarea:focus:-ms-input-placeholder {
  color: transparent;
}
.review-form input[type="text"]:focus:placeholder,
.review-form input[type="email"]:focus:placeholder,
.review-form textarea:focus:placeholder {
  color: transparent;
}
.reply-form {
  border: 1px solid #dca321;
  border-radius: 1rem;
  padding: 1rem;
  background: #dca321;
  margin-bottom: 1rem;
}
.reply-form label {
  color: #FFF;
}
.reply-form input[type="text"],
.reply-form textarea {
  background: #f2c64f;
  border: none;
}
.reply-form input[type="text"] {
  height: 2rem;
  line-height: 2rem;
  padding: 0 1rem;
}
.reply-form textarea {
  padding: 1rem;
}
.reply-comment-block .close {
  margin: 1rem;
  color: #FFF;
}
.review-done {
  position: relative;
  padding: 0.5em 0.75em;
  border-left: 3px solid #8ada8c;
  color: #2a6a2c;
  background-color: #d0f0d1;
  display: block;
  font-weight: bold;
}
.pagerating-review .edit-review-published-date {
  float: none;
  border: 1px solid #dca321;
  padding: 0 1rem 0 3rem;
  height: 2rem;
  line-height: 2rem;
}
.pagerating-review .labeled.right {
  position: relative;
}
.pagerating-review .labeled.right i {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  background: #dca321;
  color: #FFF;
}
.pagerating-list .pagerating-review {
  border: 1px solid #dca321;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}
.pagerating-list .pagerating-info {
  font-weight: bold;
}
.pagerating-list .description,
.pagerating-list .rating {
  border-bottom: 1px solid #dca321;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  overflow: hidden;
}
.pagerating-list .rating {
  width: 100% !important;
}
.response-block-description {
  padding: 1rem;
  background-color: #dca321;
  border-radius: 1rem;
  margin-bottom: 1rem;
  color: #FFF;
}
.response-block-description b {
  display: block;
  margin-bottom: 0.5rem;
}
.response-block-description .response-comment {
  margin-bottom: 0;
}
.swiper-slide .pagerating-review {
  margin: 0 1px 1rem;
}
.swiper-button-prev,
.swiper-button-next {
  opacity: 0;
  pointer-events: none;
}
.swiper-button-prev[aria-controls],
.swiper-button-next[aria-controls] {
  opacity: 1;
  pointer-events: auto;
}
.offline .header {
  padding-top: 0;
}
@media only screen and (max-width: 1024px) {
  .offline {
    padding-top: 0;
  }
}
form::after {
  content: "";
  display: table;
  clear: both;
}
form p::after {
  content: "";
  display: table;
  clear: both;
}
form .captcha label,
form .captcha input {
  float: left;
  width: 100%;
  font-weight: normal;
}
form .captcha .captcha_field {
  margin-bottom: 1em;
}
form .captcha .recaptcha_links a,
form .captcha .captcha_image a {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  height: auto;
  line-height: 2.3em;
  padding: 7px 40px;
  font-size: 16px;
  font-family: 'Open Sans', Helvetica, "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  color: #FFF;
  border-color: #e69a18;
  background-color: #f2c64f;
  border-radius: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: none;
  border: none;
  transition: background 0.3s;
  float: left;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  width: 2.3em;
  margin-right: 0.25em;
}
form .captcha .recaptcha_links a:hover,
form .captcha .captcha_image a:hover,
form .captcha .recaptcha_links a:active,
form .captcha .captcha_image a:active,
form .captcha .recaptcha_links a.active,
form .captcha .captcha_image a.active {
  color: #FFF;
  border-color: #b87b14;
  background-color: #eeb720;
}
form .captcha .recaptcha_links a:active,
form .captcha .captcha_image a:active,
form .captcha .recaptcha_links a.active,
form .captcha .captcha_image a.active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset;
}
form .captcha .recaptcha_links a::before,
form .captcha .captcha_image a::before {
  font-family: flexkit-icons;
  width: 100%;
  float: left;
  margin: 0;
  line-height: inherit !important;
}
form .captcha .captcha_image {
  width: 100% !important;
  height: auto !important;
  float: left;
  text-align: center;
  margin-bottom: 1em;
}
form .captcha .captcha_image br {
  display: none;
}
form .captcha .captcha_image span {
  float: left;
}
form .captcha .recaptcha_links {
  float: left;
  margin-bottom: 1em;
}
form .captcha .recaptcha_links a[href="javascript:Recaptcha.reload();"]::before {
  content: "\e093";
}
form .captcha .recaptcha_links a.recaptcha_only_if_image::before {
  content: "\e0e2";
}
form .captcha .recaptcha_links a.recaptcha_only_if_audio::before {
  content: "\e008";
}
form .captcha .recaptcha_links a.recaptcha_help::before {
  content: "\e0e3";
}
form .captcha #recaptcha_audio_play_again::before {
  content: "\e0e4";
}
form .captcha #recaptcha_audio_download::before {
  content: "\e0e1";
}
@media only screen and (max-width: 768px), only screen and (min-width: 1024px) {
  aside form .captcha .recaptcha_links {
    width: 100%;
  }
  aside form .captcha .recaptcha_links a {
    margin: 0;
    width: 32%;
  }
  aside form .captcha .recaptcha_links a + a {
    margin-left: 2%;
  }
  aside form .captcha .captcha_image span {
    width: 49%;
  }
  aside form .captcha .captcha_image span + br + span {
    margin-left: 2%;
  }
  aside form .captcha .captcha_image a {
    margin: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  form .captcha .recaptcha_links {
    width: 100%;
  }
  form .captcha .recaptcha_links a {
    margin: 0;
    width: 32%;
  }
  form .captcha .recaptcha_links a + a {
    margin-left: 2%;
  }
  form .captcha .captcha_image span {
    width: 49%;
  }
  form .captcha .captcha_image span + br + span {
    margin-left: 2%;
  }
  form .captcha .captcha_image a {
    margin: 0;
    width: 100%;
  }
}
.tablet form .captcha .captcha_image span,
.mobile form .captcha .captcha_image span {
  width: 100%;
}
form [type="submit"] {
  border: none !important;
  width: 280px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
fieldset legend {
  font-size: 1.25em;
}
fieldset.unstyled {
  padding: 0;
  border: 0;
}
fieldset.unstyled legend {
  padding: 0;
  margin-bottom: 0.45em;
  font-weight: bold;
}
label,
.label {
  display: block;
  margin-bottom: 0.25em;
}
label[for],
.label[for] {
  cursor: pointer;
}
label[class*="grid_"],
.label[class*="grid_"] {
  margin-bottom: 0;
}
.label-inline label,
.label-inline .label {
  margin-bottom: 0;
  line-height: 2.3em;
}
label.required::after,
.label.required::after {
  color: #f25f5c;
  content: ' *';
}
.notvalid {
  color: #f25f5c;
}
select,
textarea,
input {
  padding: 0 1.5rem;
  font-size: 16px;
  font-style: italic;
  font-family: 'Open Sans', Helvetica, "Helvetica Neue", Arial, sans-serif;
  border: 1px solid transparent;
  border-bottom: 1px solid #dca321;
  background-color: transparent;
  color: #2f2f2f;
  transition: border 0.3s;
}
select:focus,
textarea:focus,
input:focus {
  border-color: #dca321;
}
select.success,
textarea.success,
input.success,
select.warning,
textarea.warning,
input.warning,
select.error,
textarea.error,
input.error,
select.info,
textarea.info,
input.info {
  color: #2f2f2f;
}
select.success,
textarea.success,
input.success {
  border-color: #4fc752;
}
select.success:focus,
textarea.success:focus,
input.success:focus {
  box-shadow: 0 0 3px #4fc752 inset;
}
select.warning,
textarea.warning,
input.warning {
  border-color: #ffc159;
}
select.warning:focus,
textarea.warning:focus,
input.warning:focus {
  box-shadow: 0 0 3px #ffc159 inset;
}
select.error,
textarea.error,
input.error,
select.notvalid,
textarea.notvalid,
input.notvalid {
  border-color: #f25f5c;
}
select.error:focus,
textarea.error:focus,
input.error:focus,
select.notvalid:focus,
textarea.notvalid:focus,
input.notvalid:focus {
  box-shadow: 0 0 3px #f25f5c inset;
}
select.info,
textarea.info,
input.info {
  border-color: #28b0ed;
}
select.info:focus,
textarea.info:focus,
input.info:focus {
  box-shadow: 0 0 3px #28b0ed inset;
}
select[disabled],
textarea[disabled],
input[disabled],
[disabled] select,
[disabled] textarea,
[disabled] input,
select[disabled]:focus,
textarea[disabled]:focus,
input[disabled]:focus,
select.noedit,
textarea.noedit,
input.noedit,
select.noedit:focus,
textarea.noedit:focus,
input.noedit:focus {
  border-color: #dddddd;
  background: #eeeeee;
  color: #a2a2a2;
  cursor: not-allowed;
  box-shadow: none;
}
input,
select {
  padding: 0 1.5rem;
  height: 4rem;
  line-height: 4rem;
}
textarea {
  padding: 1rem 1.5rem;
  min-height: 5rem;
}
textarea.resize {
  resize: vertical;
}
.forgot-password,
.retrieveFormBlock > form + a {
  float: left;
  margin-top: -24.5px;
}
.filed-upgrade {
  height: auto;
  position: absolute;
  z-index: -10;
  transition: none;
  opacity: 0;
}
.filed-upgrade ~ .checkbox_radio {
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  font-size: 16px;
  height: calc(1em + 1px * 2);
  width: calc(1em + 1px * 2);
  line-height: 0;
  margin: 0;
  background: transparent;
  border: 1px solid #bbbbbb;
  color: transparent;
}
.filed-upgrade ~ .checkbox_radio::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 0.625em;
  height: 0.625em;
}
.filed-upgrade.error ~ .checkbox_radio {
  border-color: #f25f5c;
}
.filed-upgrade:hover ~ .checkbox_radio::before {
  background: rgba(0, 0, 0, 0.1);
}
.filed-upgrade:checked ~ .checkbox_radio {
  border-color: #4fc752;
}
.filed-upgrade:checked ~ .checkbox_radio::before {
  background: #4fc752;
}
.filed-upgrade:disabled ~ .checkbox_radio {
  background: #eeeeee !important;
  border-color: #d5d5d5 !important;
  color: transparent;
}
.filed-upgrade:disabled:checked ~ .checkbox_radio::before {
  background: #a2a2a2 !important;
}
.filed-upgrade[type="radio"] ~ .checkbox_radio,
.filed-upgrade[type="radio"] ~ .checkbox_radio::before {
  border-radius: 10em;
}
.filed-upgrade[type="checkbox"].switcher ~ .checkbox_radio {
  overflow: hidden;
  position: relative;
  width: 4em;
  height: calc(1.25em + 1px * 2);
  line-height: 1.25em;
}
.filed-upgrade[type="checkbox"].switcher ~ .checkbox_radio::before {
  font-size: 0.923rem;
  line-height: inherit;
  content: 'OFF';
  background: none;
  color: #f25f5c;
  position: static;
  font-family: 'Open Sans', Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  width: 50%;
  text-align: center;
  float: left;
  margin-left: 50%;
}
.filed-upgrade[type="checkbox"].switcher ~ .checkbox_radio::after {
  content: '';
  background: #f25f5c;
  transition: all 0.3s;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  border: 1px solid transparent;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
}
.filed-upgrade[type="checkbox"].switcher:checked ~ .checkbox_radio::before {
  content: 'ON';
  margin-left: 0;
  color: #4fc752;
}
.filed-upgrade[type="checkbox"].switcher:checked ~ .checkbox_radio::after {
  left: 50%;
  background: #4fc752;
}
.filed-upgrade[type="checkbox"].switcher:disabled ~ .checkbox_radio::before {
  color: #a2a2a2 !important;
  background: none !important;
}
.filed-upgrade[type="checkbox"].switcher:disabled ~ .checkbox_radio::after {
  background: #a2a2a2 !important;
}
.search-form {
  margin-right: 15px;
  position: absolute;
  right: 100%;
  top: 0;
  width: 280px;
  text-align: left;
  border-radius: 30px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5);
}
.search-form input[type='text'] {
  background: #FFF;
  width: 220px;
  height: 40px;
  line-height: 40px;
  border: none;
  border-radius: 30px 0 0 30px;
}
.search-form input[type='text']:focus,
.search-form input[type='text']:active {
  border: 1px solid #dca321;
}
.search-form button {
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 40px;
  line-height: 40px;
  font-size: 0;
  text-align: center;
  padding: 0;
  border-radius: 0 30px 30px 0;
}
.search-form button::before {
  content: "\e068";
  font-family: flexkit-icons;
  font-size: 16px;
}
.search-form.m-search-form {
  position: relative;
  right: auto;
  top: auto;
  width: 100%;
}
.search-form.m-search-form input[type='text'] {
  width: calc(100% - 60px);
}
.search-form.m-search-form input[type='text']::-webkit-input-placeholder {
  color: #000;
}
.search-form.m-search-form input[type='text']::-moz-placeholder {
  color: #000;
}
.search-form.m-search-form input[type='text']:-ms-input-placeholder {
  color: #000;
}
.search-form.m-search-form input[type='text']:placeholder {
  color: #000;
}
.search-form.m-search-form input[type='text']:focus::-webkit-input-placeholder {
  color: transparent;
}
.search-form.m-search-form input[type='text']:focus::-moz-placeholder {
  color: transparent;
}
.search-form.m-search-form input[type='text']:focus:-ms-input-placeholder {
  color: transparent;
}
.search-form.m-search-form input[type='text']:focus:placeholder {
  color: transparent;
}
.search-form.m-search-form button {
  width: 60px;
}
.input-label {
  position: relative;
}
.input-label label {
  color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0.5em;
  z-index: 1;
  line-height: 2.3em;
  transition: all 0.2s;
}
.input-label input {
  border-width: 0 0 1px;
  box-shadow: none !important;
}
.input-label input:focus + label,
.input-label input:valid + label {
  color: #dca321;
  top: -0.9em;
  font-size: 0.85em;
  line-height: 1em;
}
.input-label input.success:focus + label,
.input-label input.success:valid + label {
  color: #4fc752;
}
.input-label input.warning:focus + label,
.input-label input.warning:valid + label {
  color: #ffc159;
}
.input-label input.error:focus + label,
.input-label input.error:valid + label {
  color: #f25f5c;
}
.input-label input.info:focus + label,
.input-label input.info:valid + label {
  color: #28b0ed;
}
.contact-form-box input,
.contact-form-box select,
.contact-form-box textarea {
  color: #FFF;
  border: 1px solid transparent;
  border-bottom: 1px solid #FFF;
}
.contact-form-box input::-webkit-input-placeholder,
.contact-form-box select::-webkit-input-placeholder,
.contact-form-box textarea::-webkit-input-placeholder {
  color: #FFF;
}
.contact-form-box input::-moz-placeholder,
.contact-form-box select::-moz-placeholder,
.contact-form-box textarea::-moz-placeholder {
  color: #FFF;
}
.contact-form-box input:-ms-input-placeholder,
.contact-form-box select:-ms-input-placeholder,
.contact-form-box textarea:-ms-input-placeholder {
  color: #FFF;
}
.contact-form-box input:placeholder,
.contact-form-box select:placeholder,
.contact-form-box textarea:placeholder {
  color: #FFF;
}
.contact-form-box input:focus,
.contact-form-box select:focus,
.contact-form-box textarea:focus {
  border-bottom: 1px solid #dca321;
}
.contact-form-box input:focus::-webkit-input-placeholder,
.contact-form-box select:focus::-webkit-input-placeholder,
.contact-form-box textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
.contact-form-box input:focus::-moz-placeholder,
.contact-form-box select:focus::-moz-placeholder,
.contact-form-box textarea:focus::-moz-placeholder {
  color: transparent;
}
.contact-form-box input:focus:-ms-input-placeholder,
.contact-form-box select:focus:-ms-input-placeholder,
.contact-form-box textarea:focus:-ms-input-placeholder {
  color: transparent;
}
.contact-form-box input:focus:placeholder,
.contact-form-box select:focus:placeholder,
.contact-form-box textarea:focus:placeholder {
  color: transparent;
}
.contact-form-box textarea {
  border: 1px solid #FFF;
}
.contact-form-box textarea:focus {
  border: 1px solid #dca321;
}
.contact-form-box.green-focus input:focus,
.contact-form-box.green-focus select:focus,
.contact-form-box.green-focus textarea:focus {
  border-bottom: 1px solid #02a787;
}
.contact-form-box.green-focus textarea:focus {
  border: 1px solid #02a787;
}
.contact-form-box select {
  color: #FFF;
}
.contact-form-box select option {
  color: #555555;
}
.contact-form-box [type="submit"] {
  background-color: #02a787;
}
.contact-form-box [type="submit"]:hover,
.contact-form-box [type="submit"]:active,
.contact-form-box [type="submit"].active {
  background: rgba(0, 0, 0, 0.1);
  background: #01755e;
}
.g-recaptcha {
  margin-bottom: 22px;
  text-align: center;
}
.g-recaptcha > div {
  display: inline-block;
}
#dialog-subscribe form input[type="text"]::-webkit-input-placeholder,
#dialog-subscribe form input[type="email"]::-webkit-input-placeholder {
  color: #333;
}
#dialog-subscribe form input[type="text"]::-moz-placeholder,
#dialog-subscribe form input[type="email"]::-moz-placeholder {
  color: #333;
}
#dialog-subscribe form input[type="text"]:-ms-input-placeholder,
#dialog-subscribe form input[type="email"]:-ms-input-placeholder {
  color: #333;
}
#dialog-subscribe form input[type="text"]:placeholder,
#dialog-subscribe form input[type="email"]:placeholder {
  color: #333;
}
.img_gallery {
  margin: 10px 0;
  font-size: 0;
}
.img_gallery li {
  font-size: 1rem;
  position: relative;
  margin: 5px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
.img_gallery a img {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  padding: 3px;
  background: transparent;
  transition: all 0.3s;
  border: 1px solid #bbbbbb;
}
.img_gallery a img:hover {
  border-color: #dca321;
}
.img_gallery .image_caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin: 0;
  line-height: 1.5;
  padding: 4px;
  color: #FFF;
  text-align: center;
  font-size: 0.85em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: rgba(220, 163, 33, 0.8);
}
.rotator {
  position: relative;
  overflow: hidden;
  background: #fff;
}
.rotator .slide-description {
  padding: 10px 16px;
  color: #FFF;
  background: rgba(0, 0, 0, 0.005);
}
.rotator img {
  width: 100%;
}
.rotator img ~ .slide-description {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.cycle-slideshow {
  min-height: 300px;
}
.cycle-slideshow .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  list-style: none;
}
.cycle-slideshow .slide > a.generator-links:not(:first-child),
.cycle-slideshow .slide > a.tpopup:not(:first-child) {
  position: absolute;
  top: 10px;
  left: 10px;
}
.cycle-slideshow .cycle-pager {
  position: absolute;
  top: 5px;
  right: 0;
  z-index: 20;
  text-align: center;
  font-size: 0;
  line-height: 0;
}
.cycle-slideshow .cycle-pager > * {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin: 0 3px;
  color: #FFF;
  background: #FFF;
  border-radius: 14px;
  width: 10px;
  height: 10px;
  line-height: 10px;
  font-size: 0;
}
.cycle-slideshow .cycle-pager > *::before {
  font-size: 10px;
}
.cycle-slideshow .cycle-pager > *:hover {
  background: #b0821a;
}
.cycle-slideshow .cycle-pager > *.cycle-pager-active {
  cursor: default;
  color: #FFF;
  background: #dca321;
}
.cycle-slideshow [class*="cycle-"].action-button {
  background: #dca321;
  color: #FFF;
  position: absolute;
  top: 50%;
  z-index: 20;
  cursor: pointer;
  margin-top: -19px;
  padding: 10px;
  box-sizing: content-box;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 0;
  transition: all 0.3s;
}
.cycle-slideshow [class*="cycle-"].action-button::before {
  font-size: 18px;
}
.cycle-slideshow [class*="cycle-"].action-button:hover {
  background: #b0821a;
  color: #FFF;
}
.cycle-slideshow [class*="cycle-"].action-button::before {
  font-family: flexkit-icons;
}
.cycle-slideshow [class*="cycle-"].action-button.cycle-prev {
  left: -54px;
}
.cycle-slideshow [class*="cycle-"].action-button.cycle-prev::before {
  content: "\e0a9";
}
.cycle-slideshow [class*="cycle-"].action-button.cycle-next {
  right: -54px;
}
.cycle-slideshow [class*="cycle-"].action-button.cycle-next::before {
  content: "\e0a7";
}
.cycle-slideshow:hover .action-button.cycle-prev {
  left: 10px;
}
.cycle-slideshow:hover .action-button.cycle-next {
  right: 10px;
}
.swiper-container .swiper-wrapper > .tpopup {
  display: none;
}
.swiper-container .swiper-slide {
  min-height: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.slide-box {
  max-width: 570px;
  padding: 10rem 4rem;
  color: #ffc742;
  text-shadow: 1px 1px 1px #333333;
}
.slide-box .slide-title {
  font-size: 3.69rem;
  line-height: 1.22916667;
  font-style: italic;
  letter-spacing: -1.2px;
}
.news-swiper {
  position: relative;
}
.news-swiper::before {
  content: "";
  position: absolute;
  left: 0;
  top: 73px;
  width: 100%;
  border-top: 1px dashed #a2a2a2;
}
.news-swiper .swiper-wrapper {
  padding-top: 130px;
  padding-bottom: 30px;
}
.news-swiper .swiper-button-next,
.news-swiper .swiper-button-prev {
  color: #dca321;
  top: 74px;
  width: 50px;
  background: #FFF;
}
.news-swiper .swiper-button-next.swiper-button-disabled,
.news-swiper .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
  color: #a2a2a2;
}
.news-swiper .swiper-button-prev {
  left: auto;
  right: 50px;
}
.news-swiper.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  background: #dca321;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: #02a787;
  font-weight: bold;
}
.swiper-pagination-bullet-active {
  background: #02a787 !important;
}
@media only screen and (min-width: 1025px) {
  .d-hide,
  .t-visible,
  .m-visible {
    display: none !important;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .t-hide,
  .d-visible,
  .m-visible {
    display: none !important;
  }
}
@media only screen and (max-width: 1680px) and (min-width: 1025px) {
  ul.list-benefits .list-item {
    width: 31%;
  }
}
@media only screen and (max-width: 768px) {
  .m-hide,
  .d-visible,
  .t-visible {
    display: none !important;
  }
}
@media only screen and (max-width: 1536px) {
  .category-list.style_1 .category-item,
  ul.list-references .list-item,
  ul.list-references.no-border .list-item {
    padding-bottom: 20%;
  }
}
@media only screen and (max-width: 1024px) {
  .t-text-left {
    text-align: left;
  }
  .t-text-right {
    text-align: right;
  }
  .t-text-center {
    text-align: center;
  }
  .header {
    padding-top: 0;
  }
  .t-mb {
    margin-bottom: 3.846rem;
  }
  .category-list.style_1 .category-item,
  ul.list-references .list-item,
  ul.list-references.no-border .list-item {
    padding-bottom: 26%;
  }
  .references-image {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}
@media only screen and (max-width: 768px) {
  .m-text-left {
    text-align: left;
  }
  .m-text-right {
    text-align: right;
  }
  .m-text-center {
    text-align: center;
  }
  .captcha,
  .captcha img {
    width: 100%;
  }
  img[style*="float: left"],
  img[style*="float:left"],
  img[style*="float: right"],
  img[style*="float:right"] {
    float: none !important;
    display: block;
    margin: 0 auto 1em;
  }
  form [type="submit"],
  form [type="button"] {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  ul.list-references .list-item {
    padding-bottom: 36%;
  }
  .blockquote {
    padding-left: 0;
    padding-right: 0;
  }
  .blockquote::before {
    left: 0;
    top: 0;
  }
  .blockquote .blockquote-image {
    margin: 1rem auto;
  }
  .category-list.style_1 .category-item,
  ul.list-references .list-item,
  ul.list-references.no-border .list-item {
    padding-bottom: 32%;
  }
  .page-404 {
    min-height: calc(100% - 120px);
  }
}
@media only screen and (max-width: 576px) {
  .p-text-left {
    text-align: left;
  }
  .p-text-right {
    text-align: right;
  }
  .p-text-center {
    text-align: center;
  }
  ul.list-contacts {
    padding-bottom: 3.07rem;
  }
  ul.list-contacts .list-item + .list-item {
    border-left: none;
  }
  .btn[class*="width-"],
  footer .btn {
    width: 100%;
  }
  .slide-box .slide-title {
    font-size: 2.5rem;
  }
  .title {
    font-size: 2.5rem;
  }
  .category-list.style_1 .category-item,
  ul.list-references .list-item,
  ul.list-references.no-border .list-item {
    padding-bottom: 56%;
  }
  .page-404 .page-404-content {
    padding: 10rem 0;
  }
}
html.mobile,
html.tablet {
  overflow: hidden;
}
html.mobile::before,
html.tablet::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 101;
  background: rgba(220, 163, 33, 0.8);
}
html.mobile .mobile-loader,
html.tablet .mobile-loader {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 102;
}
html.mobile .mobile-loader::after,
html.tablet .mobile-loader::after,
html.mobile .mobile-loader::before,
html.tablet .mobile-loader::before {
  margin: auto;
  content: "";
  display: block;
  border: 5px solid transparent;
  border-top-color: #FFF;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 50%;
}
html.mobile .mobile-loader::after,
html.tablet .mobile-loader::after {
  animation: rotate 1.45s linear infinite;
  width: 4em;
  height: 4em;
}
html.mobile .mobile-loader::before,
html.tablet .mobile-loader::before {
  animation: rotate 1.85s linear infinite;
  width: 4.75em;
  height: 4.75em;
}
html.mobile.loaded,
html.tablet.loaded {
  overflow: initial;
}
html.mobile.loaded::before,
html.tablet.loaded::before {
  content: none;
}
html.mobile.loaded .mobile-loader,
html.tablet.loaded .mobile-loader {
  display: none;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only print {
  * {
    background: none !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    /* Images, vectors and such */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter     id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
    /* Chrome + Safari 6 */
    -moz-filter: grayscale(100%);
    /* Future proof */
    -ms-filter: grayscale(100%);
    /* Future proof */
    -o-filter: grayscale(100%);
    /* Future proof */
    filter: grayscale(100%);
    /* Future proof or polyfilled */
  }
  .print-hide,
  header,
  footer,
  nav,
  aside {
    display: none !important;
  }
  .print-visible {
    display: block !important;
  }
  .print-visible-inline {
    display: inline !important;
  }
  .print-page-break-inside,
  img,
  table {
    page-break-inside: avoid;
  }
  .print-page-break,
  article + article {
    page-break-before: always;
  }
  a::after {
    color: #888888;
    margin: 0 0 0 0.5em;
    font-size: 13px;
    font-style: italic;
    text-decoration: underline;
  }
  a.btn::after,
  a.page-title::after {
    margin: 0;
    display: block;
  }
  a.page-teaser-image::after,
  .page-teaser-image a::after,
  .gmaps a::after,
  a._lbox::after {
    display: none;
  }
  a[href*=".html"]::after,
  a[href^="http"]::after,
  a[href^="//"]::after {
    content: "(" attr(href) ")";
  }
}
