<div class="flex-row">
    <div class="flex_6 f-alpha mb30px">
        <label class="hidden" for="social_reason">Raison Sociale</label>
        <input type="text" value="" name="social_reason" id="social_reason" required="required" placeholder="Raison Sociale *">
    </div>
    <div class="flex_3 mb30px">
        <label class="hidden" for="name">Prénom</label>
        <input type="text" value="" name="name" id="name" required="required" placeholder="Prénom *">
    </div>
    <div class="flex_3 f-omega mb30px">
        <label class="hidden" for="lastname">Nom</label>
        <input type="text" value="" id="lastname" name="lastname" required="required" placeholder="Nom *">
    </div>
</div>
<div class="flex-row">
    <div class="flex_6 f-alpha mb30px">
        <label class="hidden" for="function">Fonction</label>
        <input type="text" id="function" value="" name="function" placeholder="Fonction">
    </div>
    <div class="flex_3 mb30px">
        <label class="hidden" for="phone-country-code">Сode de téléphone</label>
        <select name="phone-country-code" id="phone-country-code">
            <option disabled>Phone code</option>
            <option value="AC">+247 Ascension Island</option>
            <option value="AD">+376 Andorra</option>
            <option value="AE">+971 United Arab Emirates</option>
            <option value="AF">+93 Afghanistan</option>
            <option value="AG">+1 Antigua and Barbuda</option>
            <option value="AI">+1 Anguilla</option>
            <option value="AL">+355 Albania</option>
            <option value="AM">+374 Armenia</option>
            <option value="AN">+599 Netherlands Antilles</option>
            <option value="AO">+244 Angola</option>
            <option value="AQ">+672 Antarctica</option>
            <option value="AR">+54 Argentina</option>
            <option value="AS">+1 American Samoa</option>
            <option value="AT">+43 Austria</option>
            <option value="AU">+61 Australia</option>
            <option value="AW">+297 Aruba</option>
            <option value="AX">+358 Åland Islands</option>
            <option value="AZ">+994 Azerbaijan</option>
            <option value="BA">+387 Bosnia and Herzegovina</option>
            <option value="BB">+1 Barbados</option>
            <option value="BD">+880 Bangladesh</option>
            <option value="BE">+32 Belgium</option>
            <option value="BF">+226 Burkina Faso</option>
            <option value="BG">+359 Bulgaria</option>
            <option value="BH">+973 Bahrain</option>
            <option value="BI">+257 Burundi</option>
            <option value="BJ">+229 Benin</option>
            <option value="BL">+590 Saint Barthélemy</option>
            <option value="BM">+1 Bermuda</option>
            <option value="BN">+673 Brunei</option>
            <option value="BO">+591 Bolivia</option>
            <option value="BR">+55 Brazil</option>
            <option value="BS">+1 Bahamas</option>
            <option value="BT">+975 Bhutan</option>
            <option value="BW">+267 Botswana</option>
            <option value="BY">+375 Belarus</option>
            <option value="BZ">+501 Belize</option>
            <option value="CA">+1 Canada</option>
            <option value="CC">+61 Cocos (Keeling) Islands</option>
            <option value="CD">+243 Congo - Kinshasa</option>
            <option value="CF">+236 Central African Republic</option>
            <option value="CG">+242 Congo - Brazzaville</option>
            <option value="CH">+41 Switzerland</option>
            <option value="CI">+225 Côte d'Ivoire</option>
            <option value="CK">+682 Cook Islands</option>
            <option value="CL">+56 Chile</option>
            <option value="CM">+237 Cameroon</option>
            <option value="CN">+86 China</option>
            <option value="CO">+57 Colombia</option>
            <option value="CR">+506 Costa Rica</option>
            <option value="CU">+53 Cuba</option>
            <option value="CV">+238 Cape Verde</option>
            <option value="CX">+61 Christmas Island</option>
            <option value="CY">+357 Cyprus</option>
            <option value="CZ">+420 Czech Republic</option>
            <option value="DE">+49 Germany</option>
            <option value="DJ">+253 Djibouti</option>
            <option value="DK">+45 Denmark</option>
            <option value="DM">+1 Dominica</option>
            <option value="DO">+1 Dominican Republic</option>
            <option value="DZ">+213 Algeria</option>
            <option value="EC">+593 Ecuador</option>
            <option value="EE">+372 Estonia</option>
            <option value="EG">+20 Egypt</option>
            <option value="ER">+291 Eritrea</option>
            <option value="ES">+34 Spain</option>
            <option value="ET">+251 Ethiopia</option>
            <option value="FI">+358 Finland</option>
            <option value="FJ">+679 Fiji</option>
            <option value="FK">+500 Falkland Islands</option>
            <option value="FM">+691 Micronesia</option>
            <option value="FO">+298 Faroe Islands</option>
            <option value="FR">+33 France</option>
            <option value="GA">+241 Gabon</option>
            <option value="GB">+44 United Kingdom</option>
            <option value="GD">+1 Grenada</option>
            <option value="GE">+995 Georgia</option>
            <option value="GF">+594 French Guiana</option>
            <option value="GG">+44 Guernsey</option>
            <option value="GH">+233 Ghana</option>
            <option value="GI">+350 Gibraltar</option>
            <option value="GL">+299 Greenland</option>
            <option value="GM">+220 Gambia</option>
            <option value="GN">+224 Guinea</option>
            <option value="GP">+590 Guadeloupe</option>
            <option value="GQ">+240 Equatorial Guinea</option>
            <option value="GR">+30 Greece</option>
            <option value="GT">+502 Guatemala</option>
            <option value="GU">+1 Guam</option>
            <option value="GW">+245 Guinea-Bissau</option>
            <option value="GY">+592 Guyana</option>
            <option value="HK">+852 Hong Kong SAR China</option>
            <option value="HN">+504 Honduras</option>
            <option value="HR">+385 Croatia</option>
            <option value="HT">+509 Haiti</option>
            <option value="HU">+36 Hungary</option>
            <option value="ID">+62 Indonesia</option>
            <option value="IE">+353 Ireland</option>
            <option value="IL">+972 Israel</option>
            <option value="IM">+44 Isle of Man</option>
            <option value="IN">+91 India</option>
            <option value="IO">+246 British Indian Ocean Territory</option>
            <option value="IQ">+964 Iraq</option>
            <option value="IR">+98 Iran</option>
            <option value="IS">+354 Iceland</option>
            <option value="IT">+39 Italy</option>
            <option value="JE">+44 Jersey</option>
            <option value="JM">+1 Jamaica</option>
            <option value="JO">+962 Jordan</option>
            <option value="JP">+81 Japan</option>
            <option value="KE">+254 Kenya</option>
            <option value="KG">+996 Kyrgyzstan</option>
            <option value="KH">+855 Cambodia</option>
            <option value="KI">+686 Kiribati</option>
            <option value="KM">+269 Comoros</option>
            <option value="KN">+1 Saint Kitts and Nevis</option>
            <option value="KP">+850 North Korea</option>
            <option value="KR">+82 South Korea</option>
            <option value="KW">+965 Kuwait</option>
            <option value="KY">+1 Cayman Islands</option>
            <option value="KZ">+7 Kazakhstan</option>
            <option value="LA">+856 Laos</option>
            <option value="LB">+961 Lebanon</option>
            <option value="LC">+1 Saint Lucia</option>
            <option value="LI">+423 Liechtenstein</option>
            <option value="LK">+94 Sri Lanka</option>
            <option value="LR">+231 Liberia</option>
            <option value="LS">+266 Lesotho</option>
            <option value="LT">+370 Lithuania</option>
            <option value="LU">+352 Luxembourg</option>
            <option value="LV">+371 Latvia</option>
            <option value="LY">+218 Libya</option>
            <option value="MA">+212 Morocco</option>
            <option value="MC">+377 Monaco</option>
            <option value="MD">+373 Moldova</option>
            <option value="ME">+382 Montenegro</option>
            <option value="MG">+261 Madagascar</option>
            <option value="MH">+692 Marshall Islands</option>
            <option value="MK">+389 Macedonia</option>
            <option value="ML">+223 Mali</option>
            <option value="MM">+95 Myanmar (Burma)</option>
            <option value="MN">+976 Mongolia</option>
            <option value="MO">+853 Macau SAR China</option>
            <option value="MP">+1 Northern Mariana Islands</option>
            <option value="MQ">+596 Martinique</option>
            <option value="MR">+222 Mauritania</option>
            <option value="MS">+1 Montserrat</option>
            <option value="MT">+356 Malta</option>
            <option value="MU">+230 Mauritius</option>
            <option value="MV">+960 Maldives</option>
            <option value="MW">+265 Malawi</option>
            <option value="MX">+52 Mexico</option>
            <option value="MY">+60 Malaysia</option>
            <option value="MZ">+258 Mozambique</option>
            <option value="NA">+264 Namibia</option>
            <option value="NC">+687 New Caledonia</option>
            <option value="NE">+227 Niger</option>
            <option value="NF">+672 Norfolk Island</option>
            <option value="NG">+234 Nigeria</option>
            <option value="NI">+505 Nicaragua</option>
            <option value="NL">+31 Netherlands</option>
            <option value="NO">+47 Norway</option>
            <option value="NP">+977 Nepal</option>
            <option value="NR">+674 Nauru</option>
            <option value="NU">+683 Niue</option>
            <option value="NZ">+64 New Zealand</option>
            <option value="OM">+968 Oman</option>
            <option value="PA">+507 Panama</option>
            <option value="PE">+51 Peru</option>
            <option value="PF">+689 French Polynesia</option>
            <option value="PG">+675 Papua New Guinea</option>
            <option value="PH">+63 Philippines</option>
            <option value="PK">+92 Pakistan</option>
            <option value="PL">+48 Poland</option>
            <option value="PM">+508 Saint Pierre and Miquelon</option>
            <option value="PR">+1 Puerto Rico</option>
            <option value="PS">+972 Palestinian Territories</option>
            <option value="PT">+351 Portugal</option>
            <option value="PW">+680 Palau</option>
            <option value="PY">+595 Paraguay</option>
            <option value="QA">+974 Qatar</option>
            <option value="RE">+262 Réunion</option>
            <option value="RO">+40 Romania</option>
            <option value="RS">+381 Serbia</option>
            <option value="RU">+7 Russia</option>
            <option value="RW">+250 Rwanda</option>
            <option value="SA">+966 Saudi Arabia</option>
            <option value="SB">+677 Solomon Islands</option>
            <option value="SC">+248 Seychelles</option>
            <option value="SD">+249 Sudan</option>
            <option value="SE">+46 Sweden</option>
            <option value="SG">+65 Singapore</option>
            <option value="SH">+290 Saint Helena</option>
            <option value="SI">+386 Slovenia</option>
            <option value="SJ">+47 Svalbard and Jan Mayen</option>
            <option value="SK">+421 Slovakia</option>
            <option value="SL">+232 Sierra Leone</option>
            <option value="SM">+378 San Marino</option>
            <option value="SN">+221 Senegal</option>
            <option value="SO">+252 Somalia</option>
            <option value="SR">+597 Suriname</option>
            <option value="SS">+211 South Sudan</option>
            <option value="ST">+239 São Tomé and Príncipe</option>
            <option value="SV">+503 El Salvador</option>
            <option value="SY">+963 Syria</option>
            <option value="SZ">+268 Swaziland</option>
            <option value="TC">+1 Turks and Caicos Islands</option>
            <option value="TD">+235 Chad</option>
            <option value="TF">+262 French Southern Territories</option>
            <option value="TG">+228 Togo</option>
            <option value="TH">+66 Thailand</option>
            <option value="TJ">+992 Tajikistan</option>
            <option value="TK">+690 Tokelau</option>
            <option value="TL">+670 Timor-Leste</option>
            <option value="TM">+993 Turkmenistan</option>
            <option value="TN">+216 Tunisia</option>
            <option value="TO">+676 Tonga</option>
            <option value="TR">+90 Turkey</option>
            <option value="TT">+1 Trinidad and Tobago</option>
            <option value="TV">+688 Tuvalu</option>
            <option value="TW">+886 Taiwan</option>
            <option value="TZ">+255 Tanzania</option>
            <option value="UA">+380 Ukraine</option>
            <option value="UG">+256 Uganda</option>
            <option value="US" selected>+1 United States</option>
            <option value="UY">+598 Uruguay</option>
            <option value="UZ">+998 Uzbekistan</option>
            <option value="VA">+39 Vatican City</option>
            <option value="VC">+1 St. Vincent &amp; Grenadines</option>
            <option value="VE">+58 Venezuela</option>
            <option value="VG">+1 British Virgin Islands</option>
            <option value="VI">+1 U.S. Virgin Islands</option>
            <option value="VN">+84 Vietnam</option>
            <option value="VU">+678 Vanuatu</option>
            <option value="WF">+681 Wallis and Futuna</option>
            <option value="WS">+685 Samoa</option>
            <option value="YE">+967 Yemen</option>
            <option value="YT">+262 Mayotte</option>
            <option value="ZA">+27 South Africa</option>
            <option value="ZM">+260 Zambia</option>
            <option value="ZW">+263 Zimbabwe</option>
        </select>
    </div>
    <div class="flex_3 f-omega mb30px">
        <label class="hidden" for="phone">Téléphone Mobile</label>
        <input type="text" value="" id="phone" name="phone" placeholder="Téléphone Mobile *" required="required">
    </div>
</div>
<div class="flex-row">
    <div class="flex_6 f-alpha mb30px">
        <label class="hidden" for="email">Adresse E-mail</label>
        <input type="text" value="" id="email" name="email" required="required" placeholder="Adresse E-mail *">
    </div>
    <div class="flex_3 mb30px">
        <label class="hidden" for="goal">Objectif</label>
        <select name="goal" id="goal">
            <option disabled>Phone code</option>
            <option value="Etude de marché">Etude de marché</option>
            <option value="Connaissance clients">Connaissance clients</option>
            <option value="Positionnement de l’offre/marque">Positionnement de l’offre/marque</option>
            <option value="Relation clients et fidélisation">Relation clients et fidélisation</option>
            <option value="Communication">Communication</option>
            <option value="Gestion de projet marketing">Gestion de projet marketing</option>
            <option value="Marketing Digital, web design et web development ">Marketing Digital, web design et web development </option>
        </select>
    </div>
    <div class="flex_3 f-omega mb30px">
        <label class="hidden" for="website">URL de votre site internet</label>
        <input type="text" value="" id="website" name="website" placeholder="URL de votre site internet">
    </div>
</div>
<div class="flex-row">
    <div class="flex_12 f-alpha f-omega mb30px">
        <label class="hidden" for="message">Votre message</label>
        <textarea name="message" id="message" cols="30" rows="6" placeholder="Votre message"></textarea>
    </div>
</div>