<li>
    <a href="{$page:url}" class="page-teaser-image">
        {$page:preview}
    </a>
    <a href="{$page:url}" class="page-title">{$page:h1}</a>
    <div class="page-text">{$page:teaser}</div>
    <a href="{$page:url}" class="page-btn">Read more >></a>
</li>