<article class="category-item flex_3 t-flex_3 m-flex_2 style_2">

    <div class="category-inner">
        <div class="category-preview responsive-ratio _16x9 lazyload-img" data-original="{$imageonly:category-teaser-{$page:id}:{$mobile:device:desktop=600:tablet=600:mobile=480}:src:static:readonly}"></div>

        <div class="category-logo">
            {$imageonly:category-logo-{$page:id}:300:static}
        </div>

        <a class="category-title" href="{$page:url}">
            {$page:h1}
        </a>

        <div class="category-description">
            {$page:teaser}
        </div>

        <div class="category-btn-container">
            <a href="{$page:url}" class="btn block">En savoir plus</a>
        </div>

        {adminonly}
        <div class="image-admin">
            {$imageonly:category-teaser-{$page:id}:600:static}
        </div>
        <a href="{$page:url}">
            {$page:h1}
        </a>
        {/adminonly}
    </div>

</article>