<article class="category-item flex_3 t-flex_3 m-flex_2 style_1 " style="background-image: url('{$imageonly:category-teaser-{$page:id}:600:src:static:readonly}')">

    <div class="category-logo">
        {$imageonly:category-logo-{$page:id}:300:static}
    </div>
    <a class="category-title" href="{$page:url}">
        {$page:h1}
    </a>
    {adminonly}
    <div class="image-admin">
        {$imageonly:category-teaser-{$page:id}:600:static}
    </div>
    {/adminonly}
</article>