<footer class="lazyload-img" itemscope itemtype="http://schema.org/LocalBusiness" data-original="{$imageonly:footer-background:1920:src:static:readonly}">
    <div class="container width-1160">
        <div class="flex-row">
            <div class="flex_3 t-flex_3 m-flex_2 t-mb">
                {adminonly}
                <div style="max-width: 100px;">
                    {$imageonly:footer-background:1920:static}
                </div>
                {/adminonly}
                <h3 class="footer-title">
                    Nous contacter
                </h3>
                <address class="footer-address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <span class="footer-address-item" itemprop="streetAddress">{$plugin:widcard:BizAddress1:notag}</span>
                    <div class="footer-address-item">
                        <span itemprop="addressLocality">{$plugin:widcard:BizCity:notag}</span>,
                        <span itemprop="postalCode">{$plugin:widcard:BizZip:notag}</span>
                        <span itemprop="addressRegion">{$plugin:widcard:BizState:notag}</span>
                        <meta itemprop="addressCountry" content="EN"/>
                    </div>
                    <div class="footer-address-item">
                        <div class="footer-label">
                            Télephone:
                        </div>
                        {$plugin:widcard:bizTelephone:notag}
                    </div>
                    <div class="footer-address-item">
                        E-mail: {$plugin:widcard:bizEmail:notag}
                    </div>
                </address>
            </div>

            <nav class="flex_3 footer-menu d-visible">
                <ul class="main_menu">
                    {$featured:area:footer-menu:10:template=_fa - footer:order=id:orderType=ASC:filterable}
                </ul>
            </nav>

            <div class="flex_3 t-flex_3 m-flex_2 t-mb">
                <h3 class="footer-title">
                    Nous suivre
                </h3>
                <div class="social-links">
                    {$template:_social links}
                </div>
            </div>

            <div class="flex_3 t-flex_3 m-flex_4 t-mb">
                <h3 class="footer-title">
                    {$header:subscribe-title:static}
                </h3>
                <div class="mb44px">
                    {$content:subscribe-text:static}
                </div>
                <div>
                    <a href="{$website:url}" class="btn dialog-btn" data-dialog-element="#dialog-subscribe"
                       data-dialog-width="500" data-dialog-classes="rounded-corners">S'inscrire</a>
                </div>
            </div>

        </div>

    </div>
    <meta itemprop="name" content="{$plugin:widcard:BizOrgName:notag}"/>
    <link itemprop="image" href="{$plugin:widcard:bizLogo:url}"/>
    <meta itemprop="priceRange" content="$$"/>
    <meta itemprop="telephone" content="{$plugin:widcard:bizTelephone:notag}">
</footer>
<div class="copyright">
    <div class="container flex-row width-1160">
        <div class="flex_12 t-text-center">
            {$header:copyright:static}
        </div>
    </div>
</div>

{$template:_dialog-subscribe}