<header class="header">
    <div class="container">
        <div class="flex-row">
            <div class="logo h1 flex_6 t-flex_2 m-flex_1 p-text-center" itemscope itemtype="http://schema.org/Organization">
                <a href="{$website:url}" title="{$plugin:widcard:BizOrgName:notag}" itemprop="url">
                    <img src="{$plugin:widcard:bizLogo:url}" alt="Agence de conseil marketing digital, développement web à Lyon" itemprop="logo" width="248" height="90">
                    <meta itemprop="name" content="{$plugin:widcard:BizOrgName:notag}">
                </a>
            </div>
            <div class="flex_6 t-flex_4 m-flex_3 f-self-middle t-self-middle m-self-middle">
                <ul class="list-contacts text-right p-text-center">
                    <li class="list-item">
                        <a class="icon-phone2" href="tel:{$plugin:widcard:bizTelephone:href}">
                            <span class="list-item-label">Phone:</span>
                            <span class="phone">
                               {$plugin:widcard:bizTelephone:notag}
                            </span>
                        </a>
                    </li>
                    <li class="list-item email-item">
                        <a class="icon-mail" href="mailto:{$plugin:widcard:bizEmail:notag}">
                            <span class="list-item-label">E-mail:</span>
                            <span class="email">
                                {$plugin:widcard:bizEmail:notag}
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="top-line dark-gray d-visible">
    <div class="container">
        <div class="flex-row">
            <nav id="main-menu" class="flex_12 text-right">
                {$menu:main:_main menu}
                <div class="search-container">
                    <span class="search-element icon icon-search"></span>
                    <div class="search-block hide">
                        {$template:_search}
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>