<!-- Top bar for mobile, with button show/hide menu -->
<div class="mobile-bar top clearfix">
    <span class="btn icon-menu" data-refer="main"></span>
    <span class="title">{$page:h1}</span>
    <span class="btn icon-search icon-search" data-refer="search"></span>
    <a href="tel:{$plugin:widcard:bizTelephone:href}" class="btn icon-phone2 icon">{$plugin:widcard:bizTelephone:notag}</a>
</div>

<aside class="m-menu left" data-el="main">
    <div class="menu-top-header"></div>
    {$menu:main:_main menu}
</aside>
<aside class="m-menu dropdown search-dropdown" data-el="search">
    <form class="search-form m-search-form" action="{$website:url}search-results.html" method="get">
        <label for="search_1" class="hidden">Search</label>
        <input type="text" name="search" id="search_1" value="" placeholder="Search">
        <button type="submit" class="icon-search icon">Search</button>
    </form>
</aside>

<!-- mobile loader -->
<span class="mobile-loader"></span>