<article class="news-item flex-row swiper-slide">
    <div class="flex_5">
        <a class="news-item-image mb20px" href="{$news:url}">
            <img src="{$news:preview}" alt="{$news:title:inline}"/>
        </a>
    </div>
    <div class="flex_7">
        <a class="news-item-title" href="{$news:url}">{$news:title}</a>
        <p class="news-item-description">{$news:teaser}</p>
    </div>
</article>