<article class="news-item clearfix">
    {$news:actions}
    <a class="news-item-image mb20px" href="{$news:url}">
        <img class="lazyload-img" data-original="{$news:preview}" alt="{$news:title:inline}"/>
    </a>
    <time class="news-item-date icon-calendar2 hide"  datetime="{$news:publishat:Y-m-d}">{$news:publishat:m/d/Y}</time>
    <a class="news-item-title" href="{$news:url}">{$news:title}</a>
    <p class="news-item-description">{$news:teaser}</p>
    <p class="news-item-tags">{$news:tags}</p>
    <div>
        <a href="{$news:url}" class="news-item-more read-more">Read more</a>
    </div>
</article>