<article class="news-item clearfix">
    {$news:actions}
    <!--<a class="news-item-image" href="{$news:url}">-->
        <!--<img src="{$news:preview}" alt="{$news:title:inline}"/>-->
    <!--</a>-->
    <time class="news-item-date icon-calendar2"  datetime="{$news:publishat:Y-m-d}">{$news:publishat:m/d/Y}</time>

    <a class="news-item-title" href="{$news:url}">{$news:title}</a>
    <p class="news-item-description">{$news:teaser}</p>
    <p class="news-item-tags">{$news:tags}</p>
    <p>
        <a href="{$news:url}" class="news-item-more read-more">Read more</a>
    </p>
</article>