<!-- SCRIPTS ZONE -->
<!--<script src="js/scripts.min.js"></script>-->
<script src="js/system/flexkit.min.js"></script>

<script>
    function loadYoutubeByClick(){
        var youtube = document.querySelectorAll(".youtube");
        for (var i = 0; i < youtube.length; i++) {
            // var source = "https://img.youtube.com/vi/" + youtube[i].dataset.embed + "/0.jpg";
            // var image = new Image();
            // image.src = "/themes/deltafranchise/images/delta-franchise-news-thumb.png";
            // image.dataset.src = source;
            // image.className += " lazy";
            // image.addEventListener("load", function () {
            //     youtube[i].appendChild(image);
            // }(i));
            youtube[i].addEventListener("click", function () {
                var iframe = document.createElement("iframe");
                iframe.setAttribute("frameborder", "0");
                iframe.setAttribute("allowfullscreen", "");
                iframe.setAttribute("src", "https://www.youtube.com/embed/" + this.dataset.embed + "?rel=0&showinfo=1&autoplay=1");
                iframe.setAttribute("allow", "accelerometer; autoplay");
                this.innerHTML = "";
                this.appendChild(iframe);
            });
        }
    }


    $(function () {

        loadYoutubeByClick();

        $(".search-element").on("click", function(){
            $(this).toggleClass("active");
            $(".search-block").toggleClass("hide");
        });

    });
</script>
{$pwa:sw}
<!-- smtp -->
{$plugin:smtpverification:verify}
{$plugin:notifier:subscribe}