<form id="search-form" class="search-form" action="{$website:url}search-results.html" method="get">
    <label for="search" class="hidden">Search</label>
    <input type="text" name="search" id="search" value="">
    <button type="submit">
        Search
    </button>
</form>