<a class="btn social icon gbusiness icon-gbusiness" target="_blank" rel="noopener" href="{$plugin:widcard:BizGmbusiness:notag}">GPlus</a>
<a class="btn social icon facebook icon-facebook" target="_blank" rel="noopener" href="{$plugin:widcard:BizFbAccount:notag}">Facebook</a>
<!--<a class="btn social icon twitter icon-twitter" target="_blank" rel="noopener" href="{$plugin:widcard:BizTwitterAccount:notag}">Twitter</a>-->
<a class="btn social icon linkedin icon-linkedin" target="_blank" rel="noopener" href="{$plugin:widcard:BizLinkedInAccount:notag}">LinkedIn</a>
<a class="btn social icon rss icon-feed" target="_blank" href="{$plugin:widcard:BizRssChannel:notag}">RSS</a>
<a class="btn social icon youtube icon-youtube" target="_blank" rel="noopener" href="{$plugin:widcard:BizYoutubeChannel:notag}">YouTube</a>