@responsive-size-tablet-over: (@responsive-size-tablet + 1);
@media only screen and (min-width: @responsive-size-tablet-over) {
    .d-hide, .t-visible, .m-visible {
        display: none !important;
    }
}

@responsive-size-mobile-over: (@responsive-size-mobile + 1);
@media only screen and (min-width: @responsive-size-mobile-over) and (max-width: @responsive-size-tablet) {
    .t-hide, .d-visible, .m-visible {
        display: none !important;
    }
}

@media only screen and (max-width: 1680px) and (min-width: 1025px) {
    ul.list-benefits .list-item {
        width: 31%;
    }
}

@media only screen and (max-width: @responsive-size-mobile) {
    .m-hide, .d-visible, .t-visible {
        display: none !important;
    }
}

//================================================\\
//************** Divece orientation **************\\
//================================================\\
@media only screen and (orientation: portrait) {
}

@media only screen and (orientation: landscape) {
}

//================================================\\
//*************** Divece screen size *************\\
//================================================\\

//***** Bigger than Desktop site size *****\\
@responsive-size-desktop-above: (@responsive-size-desktop + 1);
@media only screen and (min-width: @responsive-size-desktop-above) {
}

@media only screen and (max-width: 1536px) {
    .category-list.style_1 .category-item, ul.list-references .list-item, ul.list-references.no-border .list-item {
        padding-bottom: 20%;
    }
}

//***** Tablet Portrait *****\\
@media only screen and (max-width: @responsive-size-desktop) {
}

//***** All Mobile Sizes *****\\
@media only screen and (max-width: @responsive-size-tablet) {
    .t-text-left {
        text-align: left;
    }
    
    .t-text-right {
        text-align: right;
    }
    
    .t-text-center {
        text-align: center;
    }
    
    .header {
        padding-top: 0;
    }
    
    .t-mb {
        margin-bottom: 3.846rem;
    }
    
    .category-list.style_1 .category-item, ul.list-references .list-item, ul.list-references.no-border .list-item {
        padding-bottom: 26%;
    }
    
    .references-image {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}

//***** Just Mobile Landscape *****\\
@media only screen and (max-width: @responsive-size-tablet) and (orientation: landscape) {
}

//***** Just Mobile Portrait *****\\
@media only screen and (max-width: @responsive-size-mobile) {
    
    .m-text-left {
        text-align: left;
    }
    
    .m-text-right {
        text-align: right;
    }
    
    .m-text-center {
        text-align: center;
    }
    
    .captcha {
        &, img {
            width: 100%;
        }
    }
    
    img[style*="float: left"], img[style*="float:left"], img[style*="float: right"], img[style*="float:right"] {
        float: none !important;
        display: block;
        margin: 0 auto 1em;
    }
    
    form [type="submit"], form [type="button"] {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
    
    ul.list-references .list-item {
        padding-bottom: 36%;
    }
    
    .blockquote {
        padding-left: 0;
        padding-right: 0;
        &::before {
            left: 0;
            top: 0;
        }
        .blockquote-image {
            margin: 1rem auto;
        }
    }
    
    .category-list.style_1 .category-item, ul.list-references .list-item, ul.list-references.no-border .list-item {
        padding-bottom: 32%;
    }
    
    .page-404 {
        min-height: calc(100% - 120px);
    }
}

//***** Just Small Phone *****\\
@media only screen and (max-width: @responsive-size-phone) {
    .p-text-left {
        text-align: left;
    }
    
    .p-text-right {
        text-align: right;
    }
    
    .p-text-center {
        text-align: center;
    }
    
    ul.list-contacts {
        padding-bottom: 3.07rem;
        .list-item {
            & + .list-item {
                border-left: none;
            }
        }
    }
    
    .btn[class*="width-"], footer .btn {
        width: 100%;
    }
    
    .slide-box {
        .slide-title {
            font-size: 2.5rem;
        }
    }
    
    .title {
        font-size: 2.5rem;
    }
    
    .category-list.style_1 .category-item, ul.list-references .list-item, ul.list-references.no-border .list-item {
        padding-bottom: 56%;
    }
    
    .page-404 {
        .page-404-content {
            padding: 10rem 0;
        }
    }
}

//================================================\\
//************** Divece pixel ratio **************\\
//================================================\\
@media screen and (-webkit-min-device-pixel-ratio: 1.3) {
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
}

@import "../mobile/loader";