@media only screen and (min-width: @responsive-size-tablet + 1) {
    .main_menu when (@menu-main) {
        position: relative;
        z-index: 11;
        margin: 15px 0;
        display: inline-block;
        background: @nav-bg;
        color: @nav-color;
        
        & > li {
            float: left;
            position: relative;
            border-radius: 30px;
            margin: 0 2px;
            
            &:nth-child(2n) {
                &:hover, & > a.current {
                    background: #02a787;
                    color: @primary-color;
                }
            }
            
            &:hover {
                background: @nav-bg-li-hover;
                color: @nav-color-li-hover;
                
                ul {
                    display: block;
                }
            }
            // TODO Why we had this property for the tag 'a'?
            //& > a when (@responsive), (@adaptive){
            //    float : left;
            //}
        }
        
        a, .search-element {
            display: block;
            padding: @padding-base-vertical 32px;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 16px;
            cursor: pointer;
            color: inherit;
            border-radius: 30px;
            
            &.current {
                & when (@nav-bg-li-hover = @nav-bg-li-current) {
                    &:extend(.main_menu > li:hover);
                }
                
                background: @nav-bg-li-current;
                color: @nav-color-li-current;
            }
        }
        
        ul {
            padding: 10px 0;
            position: absolute;
            left: 0;
            top: 100%;
            z-index: 0;
            display: none;
            width: 250px;
            text-align: left;
            
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 10px;
                right: 0;
                bottom: 10px;
                background: @nav-drop-down-list-bg;
                .box-shadow(0 3px 5px @gray-dark);
            }
            
            & when not(@nav-drop-down-list-color = @nav-color) {
                color: @nav-drop-down-list-color;
            }
            
            
            & when (@mobile-menu) {
                &.open {
                    display: block !important;
                }
            }
            
            a {
                border-radius: 0;
                padding: 5px 10px;
                text-transform: none;
            }
            
            li {
                position: relative;
                float: none;
                
                &:hover {
                    background: @nav-drop-down-list-bg-hover;
                    color: @nav-drop-down-list-color-hover;
                }
                
                a {
                    &.current {
                        & when (@nav-drop-down-list-color-hover = @nav-drop-down-list-color-current) {
                            &:extend(.main_menu ul li:hover);
                        }
                        
                        & when not(@nav-drop-down-list-bg-current = @nav-drop-down-list-bg)
                       and not(@nav-drop-down-list-bg-current = @nav-drop-down-list-bg-hover) {
                            background: @nav-drop-down-list-bg-current;
                        }
                        & when not(@nav-drop-down-list-color-current = @nav-drop-down-list-color)
                       and not(@nav-drop-down-list-color-current = @nav-drop-down-list-color-hover) {
                            color: @nav-drop-down-list-color-current;
                        }
                    }
                }
            }
        }
    }
}