.news-item {
    margin-bottom: 30px;
}

.news-item-image {
    border: 1px solid @text-color;
    display: block;
    img {
        width: 100%;
        max-width: 100%;
    }
}

.news-item-title {
    display: block;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 20px;
    color: @text-color;
}

.newslog-admin-actions {
    text-align: right;
    a {
    }
}

.news-item-date {
    display: block;
    color: @brand-primary;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 0;
    
    &::before {
        top: -2px;
        font-size: 24px;
        margin-right: 8px;
        color: @brand-primary;
    }
    &.hide {
        display: none;
    }
}

.news-item-description {
    font-size: 14px;
}

.news-item-more {
    font-size: 14px;
    text-transform: uppercase;
}

.news-item-tags {
    
    a {
        .link-color(@gray);
        
        & + a {
            margin-left: 0.5em;
        }
        
        &::before {
            color: @gray;
            margin-right: 0.5em;
        }
    }
}

.newslog-tag-filter {
    &::before {
        font-family: @font-family-icons;
        content: "\e023";
    }
}

.news-list {
    margin-top: 15px;
    margin-bottom: -30px;
    .inline-block-wrap();
    .news-item {
        .grid-elements(3; @grid-margin-width; true);
    }
}

.news-list-horizontal {
    .news-item-description {
        max-height: 106px;
        overflow: hidden;
    }
    .news-item-title {
        margin-bottom: 10px;
    }
}