.rotator when (@widget-rotator) {
    position: relative;
    overflow: hidden;
    background: #fff;
    
    // -- Description
    .slide-description {
        padding: @padding-large-vertical @padding-large-horizontal;
        color: #FFF;
        .rgba(#000; 0.5);
    }
    
    img {
        width: 100%;
        
        & ~ .slide-description {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }
}

.cycle-slideshow when (@widget-rotator) {
    min-height: 300px;
    .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        list-style: none;
        
        & > a.generator-links:not(:first-child), & > a.tpopup:not(:first-child) {
            position: absolute;
            top: 10px;
            left: 10px;
        }
    }
    
    // -- Pager
    .cycle-pager {
        position: absolute;
        top: 5px;
        right: 0;
        z-index: 20;
        text-align: center;
        font-size: 0;
        line-height: 0;
        
        > * {
            .inline-block;
            cursor: pointer;
            margin: 0 3px;
            color: @primary-color;
            background: #FFF;
            .border-radius(14px);
            .icon-size(10px; true);
            
            &:hover {
                background: darken(@primary-bg, 10%);
            }
            
            &.cycle-pager-active {
                cursor: default;
                color: @primary-color;
                background: @primary-bg;
            }
        }
    }
    
    [class*="cycle-"].action-button {
        background: @primary-bg;
        color: @primary-color;
        position: absolute;
        top: 50%;
        z-index: 20;
        cursor: pointer;
        margin-top: -@slider-button-size / 2 - @padding-large-vertical;
        padding: @padding-large-vertical;
        .box-sizing(content-box);
        .icon-size(@slider-button-size; true);
        .transition();
        
        &:hover {
            background: darken(@primary-bg, 10%);
            color: @primary-color;
        }
        
        &::before {
            font-family: @font-family-icons;
        }
        
        &.cycle-prev {
            left: -@slider-button-size * 3;
            
            &::before {
                content: "\e0a9";
            }
        }
        
        &.cycle-next {
            right: -@slider-button-size * 3;
            
            &::before {
                content: "\e0a7";
            }
        }
    }
    
    &:hover .action-button {
        &.cycle-prev {
            left: 10px;
        }
        
        &.cycle-next {
            right: 10px;
        }
        
    }
}

.swiper-container {
    .swiper-wrapper {
        & > .tpopup {
            display: none;
        }
    }
    .swiper-slide {
        min-height: 100%;
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
}

.slide-box {
    max-width: 570px;
    padding: 10rem 4rem;
    color: #ffc742;
    text-shadow: 1px 1px 1px #333333;
    .slide-title {
        font-size: 3.69rem;
        line-height: 1.22916667;
        font-style: italic;
        letter-spacing: -1.2px;
    }
}

.news-swiper {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 73px;
        width: 100%;
        border-top: 1px dashed #a2a2a2;
        
    }
    .swiper-wrapper {
        padding-top: 130px;
        padding-bottom: 30px;
    }
    
    .swiper-button-next, .swiper-button-prev {
        color: @brand-primary;
        top: 74px;
        width: 50px;
        background: @primary-color;
        &.swiper-button-disabled {
            opacity: 1;
            color: #a2a2a2;
        }
    }
    .swiper-button-prev {
        left: auto;
        right: 50px;
    }
    
    .swiper-pagination-bullet {
        &.swiper-pagination-bullet-active {
        
        }
    }
    &.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
        background: @brand-primary;
    }
}

.swiper-button-next:after, .swiper-button-prev:after {
    color: @brand-secondary;
    font-weight: bold;
}

.swiper-pagination-bullet-active {
    background: @brand-secondary !important;
}