// Search Result
//==================================================
.search-results when (@widget-search) {
    
    li {
        .clearfix-mixin();
        margin-bottom: 30px;
    }
    
    a {
    }
    
    .page-teaser-image {
        &::before {
            padding-bottom: 63%;
            content: "";
            display: block;
        }
        position: relative;
        float: left;
        margin-right: 2%;
        width: 150px;
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
        
        img {
            position: absolute;
            min-height: auto !important;
            min-width: auto !important;
            width: auto;
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 50%;
            .translate(-50%; 0);
        }
    }
    
    .page-title {
    }
    
    span {
    }
}