//	Search form
//==================================================

.search-form when (@widget-search) {
    margin-right: 15px;
    position: absolute;
    right: 100%;
    top: 0;
    width: 280px;
    text-align: left;
    border-radius: 30px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.5);
    input[type='text'] {
        background: @primary-color;
        width: 220px;
        height: 40px;
        line-height: 40px;
        border: none;
        border-radius: 30px 0 0 30px;
        &:focus, &:active {
            border: 1px solid @brand-primary;
        }
    }
    button {
        position: absolute;
        right: 0;
        top: 0;
        width: 60px;
        height: 40px;
        line-height: 40px;
        font-size: 0;
        text-align: center;
        padding: 0;
        border-radius: 0 30px 30px 0;
        &::before {
            content: "\e068";
            font-family: flexkit-icons;
            font-size: 16px;
        }
    }
    &.m-search-form {
        position: relative;
        right: auto;
        top: auto;
        width: 100%;
        input[type='text'] {
            width: ~"calc(100% - 60px)";
            .placeholder(#000);
            &:focus {
                .placeholder(transparent);
            }
        }
        button {
            width: 60px;
        }
    }
    
}