.ui-dialog when (@componentsJS-dialog) {
    position         : absolute;
    z-index          : 100;
    padding          : 0;
    border-width     : @dialog-border-width;
    border-style     : solid;
    border-color     : @dialog-border-color;
    background-color : @dialog-bg;
    max-width        : 90%;
    color            : inherit;
    .box-shadow(4px 4px 4px @gray-darker);
    
    .ui-effects-wrapper & {
        max-width : none;
    }
    
    &.fixed {
        position : fixed !important;
        top      : 50% !important;
        left     : 50% !important;
        .translate(-50%);
    }
    
    // Title bar
    .ui-dialog-titlebar {
        font-size   : @font-size-large;
        background  : @dialog-header-bg;
        color       : @dialog-header-color;
        padding     : @padding-large-vertical 2rem;
        position    : relative;
        line-height : @line-height;
        height      : auto;
        z-index     : 1;
    }
    
    &.ui-draggable {
        .ui-dialog-titlebar {
            cursor : move;
        }
    }
    
    .ui-dialog-title {
        display        : block;
        font-weight    : bold;
        font-family    : @font-family-headings;
        font-size      : 1.3rem;
        text-transform : none;
        max-width      : 100%;
        text-overflow  : clip;
        white-space    : normal;
        line-height    : 1.2;
        padding        : 0.5rem 2.875rem 0.5rem 0;
        
    }
    
    .ui-dialog-titlebar-close {
        position   : absolute;
        top        : 0;
        bottom     : 0;
        right      : 1.625rem;
        border     : none;
        margin     : auto;
        padding    : @padding-large-vertical;
        background : transparent;
        .link-color(@dialog-header-color; @brand-error);
        .box-sizing(content-box);
        .icon-size(@icon-size-base; true);
        
        &::before {
            .flexkit-icon();
            content : "\e099";
        }
        
        .ui-icon-closethick {
        }
        
        .ui-button-text {
            display : none;
        }
    }
    
    // Content
    .ui-dialog-content {
        position : relative;
        border   : 0;
        padding  : @padding-large-vertical @padding-large-horizontal;
        & when not(@dialog-content-bg = transparent) {
            background : @dialog-content-bg;
        }
        overflow : auto;
        
        &.visible {
            overflow : visible;
        }
    }
    
    // Buttons
    .ui-dialog-buttonpane {
        overflow         : hidden;
        text-align       : left;
        border-width     : 1px 0 0 0;
        background-image : none;
        padding          : @padding-base-vertical @padding-large-horizontal;
        
        .ui-dialog-buttonset {
            float : right;
        }
        
        .ui-dialog-buttonpane button {
            margin : .5em .4em .5em 0;
            cursor : pointer;
        }
    }
    
    //For resizable style
    .ui-resizable-handle {
        position  : absolute;
        font-size : 0.1px;
        display   : block;
    }
    .ui-resizable-n {
        cursor : n-resize;
        height : 7px;
        width  : 100%;
        top    : -5px;
        left   : 0;
    }
    .ui-resizable-e {
        cursor : e-resize;
        width  : 7px;
        right  : -5px;
        top    : 0;
        height : 100%;
    }
    .ui-resizable-s {
        cursor : s-resize;
        height : 7px;
        width  : 100%;
        bottom : -5px;
        left   : 0;
    }
    .ui-resizable-w {
        cursor : w-resize;
        width  : 7px;
        left   : -5px;
        top    : 0;
        height : 100%;
    }
    .ui-resizable-se {
        cursor : se-resize;;
        width  : 12px;
        height : 12px;
        right  : -5px;
        bottom : -5px;
    }
    .ui-resizable-sw {
        cursor : sw-resize;
        width  : 9px;
        height : 9px;
        left   : -5px;
        bottom : -5px;
    }
    .ui-resizable-ne {
        cursor : ne-resize;
        width  : 9px;
        height : 9px;
        right  : -5px;
        top    : -5px;
    }
    .ui-resizable-nw {
        cursor : nw-resize;
        width  : 9px;
        height : 9px;
        left   : -5px;
        top    : -5px;
    }
    
    // Alternate colors
    // -------------------------
    &.success, &.warning, &.error, &.info {
        & when (@dialog-colors) {
            .ui-dialog-titlebar {
                color : #fff;
            }
        }
    }
    &.success when (@dialog-color-success) and (@dialog-colors) {
        border-color : @brand-success;
        
        .ui-dialog-titlebar {
            background : @brand-success;
        }
    }
    &.warning when (@dialog-color-warning) and (@dialog-colors) {
        border-color : @brand-warning;
        
        .ui-dialog-titlebar {
            background : @brand-warning;
        }
    }
    &.error when (@dialog-color-error) and (@dialog-colors) {
        border-color : @brand-error;
        
        .ui-dialog-titlebar {
            background : @brand-error;
            
            .ui-dialog-titlebar-close {
                &:hover {
                    color : darken(@brand-error, 15%)
                }
            }
        }
    }
    &.info when (@dialog-color-info) and (@dialog-colors) {
        border-color : @brand-info;
        
        .ui-dialog-titlebar {
            background : @brand-info;
        }
    }
    
    &.rounded-corners {
        overflow : hidden;
        .border-radius(@button-border-radius);
    }
    @media only screen and (max-width : @responsive-size-tablet) {
        .border-radius(0 0 0 0) !important;
        position                   : fixed !important;
        height                     : 100% !important;
        width                      : 100% !important;
        top                        : 0 !important;
        left                       : 0 !important;
        right                      : 0 !important;
        bottom                     : 0 !important;
        max-width                  : 100% !important;
        overflow                   : auto !important;
        z-index                    : 1002;
        -webkit-overflow-scrolling : touch;
        .ui-dialog-content {
            margin-top  : -3.75rem;
            padding-top : 3.75rem !important;
            overflow-x  : hidden;
            width       : 100%;
            min-height  : 100% !important;
            max-height  : 100% !important;
        }
    }
    @media only screen and (max-width : @responsive-size-mobile) {
        .ui-dialog-titlebar {
            padding-left  : 0.5rem;
            padding-right : 0.5rem;
        }
        
        .ui-dialog-titlebar-close {
            right : 0;
        }
    }
}

@media only screen and (max-width : @responsive-size-tablet) {
    .ios-fix {
        position : fixed;
        left     : 0;
        width    : 100%;
        height   : 100%;
        overflow : hidden;
    }
}

#dialog, #video-in-dialog, #dialog-sign-in {
    padding : 0;
    
    .middle-section {
        padding : 1.3rem 2rem 0;
    }
    
    .bottom-section {
        overflow   : hidden;
        border-top : 1px solid #f3f3f3;
        padding    : 1.125rem 2rem;
    }
    
    .btn-section {
        margin-left   : -0.25rem;
        margin-right  : -0.25rem;
        margin-bottom : -0.5rem;
        .inline-block-wrap();
        .btn {
            margin : 0 0.25rem 0.5rem;
        }
    }
    
    .btn {
        height      : 3.375rem;
        line-height : 3.375rem;
        font-size   : 1.125rem;
        width       : 192px;
        max-width   : 100%;
        &.transparent {
            .button-color(@brand-primary; tranparent; transparent; @primary-color; @brand-primary; @brand-primary);
        }
    }
    
    .g-recaptcha {
        text-align : center;
        margin-top : 8px;
        & > div {
            .inline-block();
        }
    }
    
    input[type="text"], input[type="number"], select, textarea, input[type="password"] {
        border : 2px solid #d5d5d5;
        &:focus {
            border-color : @brand-primary;
        }
    }
    textarea {
        min-height : 103px;
    }
    input[type="text"], select, input[type="number"], input[type="password"] {
        height      : 35px;
        line-height : 35px;
        @media only screen and (max-width : @responsive-size-mobile) {
            height      : 52px;
            line-height : 52px;
        }
    }
    label {
        margin-bottom  : 0.125rem;
        padding-left   : 0.125rem;
        text-transform : uppercase;
        font-weight    : bold;
        font-size      : 0.75rem;
    }
    p {
        margin-bottom : 10px;
    }
    
    @media only screen and (max-width : @responsive-size-mobile) {
        .middle-section, .bottom-section {
            padding-left  : 0.5rem;
            padding-right : 0.5rem;
        }
    }
}

#dialog {
    input[type="submit"] {
        display : none;
    }
}

#dialog-sign-in {
    .btn {
        width : auto;
    }
}