.paginator when (@componentsJS-pagination) {
  padding-top: 30px;
  border-top: @hr-size dashed @hr-color;
  width: 100%;
  display: block;
  color: @gray-light;
  cursor: default;
  line-height: 1;
  .inline-block();

  span, a {
    border: none;
    font-size: 16px;
    &.current {
      font-weight: bold;
      color: #000;
    }
  }

  .page {
    cursor: pointer;
    border-color: @gray-light;

    &:hover {
      background: @gray-light;
      color: @gray;
    }

    &.selected, &.current {
      font-weight: bold;
      color: #000;
    }
  }

  :first-child, :last-child {
    font-weight: bold;
    font-size: 0 !important;
    &::before {
      font-size: 16px;
      font-family: @font-family-icons;
    }
  }

  :first-child {
    &::before {
      font-size: 16px;
      content: "\e0a9";
    }
  }

  :last-child {
    &::before {
      font-size: 16px;
      content: "\e0a7";
    }

  }

}