//	PAGE Style
//==================================================
body {
    // custom scroll-bar
    //.scroll-bar();
    background: #f6f6ef;
}

html, body {
    height: 100%;
}

main {
}

#page {
}

.search-container {
    position: relative;
    z-index: 11;
    margin: 1.153rem 0;
    display: inline-block;
    vertical-align: top;
    background: transparent;
    color: #FFF;
    .search-element {
        display: block;
        padding: 0.615rem 2.461rem;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.23rem;
        cursor: pointer;
        color: inherit;
        border-radius: 30px;
        &:hover {
            background: @nav-bg-li-hover;
            color: #262625;
        }
        &.active {
            background: @nav-bg-li-hover;
            color: #262625;
            &::before {
                content: "\e099";
            }
        }
    }
}

//	HEADER Style
//==================================================
.header {
    color: @header-color;
    background: @header-bg;
    padding-top: 74px;
    
    // -- LOGO Style
    .logo {
        text-decoration: none;
        margin: 0;
        padding: 1.5rem 0;
        font-size: 0;
        
        a {
            display: inline-block;
        }
        
        img {
        }
    }
}

// -- NAV Style
nav {
}

.top-line {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.dark-gray {
    background: #262625;
}

.full-width {
    width: 100%;
    overflow: hidden;
    display: block;
    position: relative;
    > img {
        display: none;
    }
}

//	CONTENT Style
//==================================================
article {
}

section {
}

// 404 page
//==================================================
.first {
    font-size: 7em;
    font-size: 7vw;
}

.page-404 {
    min-height: ~"calc(100% - 194px)";
    background-size: cover;
    background-position: 50% 0;
    .page-404-content {
        padding: 17.38rem 0;
    }
    .page-404-title {
        color: @primary-color;
        margin-bottom: 4.61rem;
    }
    .page-404-text {
        color: @primary-color;
        font-style: italic;
        font-size: 1.07rem;
        margin-bottom: 2rem;
    }
}

.page-thank-you {
    min-height: ~"calc(100% - 194px)";
    background-size: cover;
    background-position: 50% 0;
    .page-thank-you-content {
        padding: 17.38rem 0;
    }
    .page-thank-you-title {
        color: @primary-color;
        margin-bottom: 4.61rem;
    }
    .page-thank-you-text {
        color: @primary-color;
        font-style: italic;
        font-size: 1.07rem;
        margin-bottom: 2rem;
    }
    
    .page-thank-you-btn {
        line-height: 1.2;
        height: auto;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        
    }
}

//	SIDEBAR Style
//==================================================
aside {
    .aside-box {
        margin-bottom: 2.307rem;
    }
}

//	FOOTER Style
//==================================================
footer {
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 6.15rem 0;
    color: @primary-color;
    font-size: 1.23rem;
    .footer-title {
        font-size: 2rem;
        line-height: 1.4;
        margin-bottom: 1.53rem;
        color: @brand-primary;
    }
    
    .footer-label {
        display: inline-block;
        min-width: 7.07rem;
    }
    
    .footer-address {
    
    }
    
    .footer-address-item {
        display: block;
        margin-bottom: 0.384rem;
        &.fax {
            margin-bottom: 1.846rem;
        }
    }
    
    .footer-menu {
        .main_menu {
            li {
                width: 100%;
                &:hover {
                    background: none;
                }
            }
            a {
                padding: 0.46rem 2rem;
                text-transform: none;
                background: none;
                &:hover, &.current {
                    background: none;
                    color: @brand-primary;
                }
            }
        }
    }
    
    .social-links {
        margin-top: 2.307rem;
        .btn {
            margin: 0 0.23rem 0.46rem;
            width: 3.38rem;
            height: 3.38rem;
            line-height: 3.38rem;
            border-radius: 50%;
            background: @primary-color;
            color: @brand-dark;
            &:hover {
                background: @brand-primary;
                color: @brand-dark;
            }
        }
    }
}

//	Button to scroll top
//==================================================
#go-top {
    .button-color(#FFFFFF; fade(#000000, 50%); fade(#000000, 50%); @primary-color; @primary-bg; @primary-bg);
}

.webPage-go-top {
    .button-color(#FFFFFF; fade(#000000, 50%); fade(#000000, 50%); @primary-color; @primary-bg; @primary-bg);
}

.page-flexgrid-example {
    padding: 3em 0;
    code {
        padding: 0 4px;
        border: none;
        background-color: transparent;
    }
    ._example {
        background-color: lighten(@brand-primary, 3%);
        color: @primary-color;
        margin-top: 0.15em;
        margin-bottom: 0.15em;
        padding: 0.50em;
        font-size: 12px;
        
        ._example {
            background-color: lighten(@brand-primary, 15%);
        }
    }
}

.container {
    &.width-800 {
        width: 800px;
    }
    
    &.width-1160 {
        width: 1160px;
    }
    &.width-1570 {
        width: 1570px;
    }
}

.youtube, .html5-video {
    background-color: #eee;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
    .play-button {
        position: absolute;
        left: 50%;
        top: 50%;
        .translate(-50%; -50%);
        height: 3.846rem;
        width: 5.38rem;
        background-image: url("/themes/start-booster/images/youtube.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    &.hide {
        display: none !important;
    }
}

.text-container {
    font-size: 1.07rem;
    font-style: italic;
}

.mt-40 {
    margin-top: 3.07rem;
}

.mb-40 {
    margin-bottom: 3.07rem; // 40px
}

.mt-50 {
    margin-top: 3.846rem; // 50px
}

.mb-50 {
    margin-bottom: 3.846rem; // 50px
}

.mt-70 {
    margin-top: 5.384rem;
}

.mb-70 {
    margin-bottom: 5.384rem;
}

.mw-440 {
    max-width: 440px;
}

.mb110px {
    margin-bottom: 8.461rem;
}

.pt30px {
    padding-top: 2.307rem;
}

.pb30px {
    padding-bottom: 2.307rem;
}

.ngmb30px {
    margin-bottom: -30px !important;
}

.read-more {
    font-size: 1.07rem;
    text-transform: uppercase;
    &::after {
        content: " >>";
    }
}

.text-content {
    font-size: 1.07rem;
    line-height: 1.4;
    margin-bottom: 1.153rem;
    &.line-1_6 {
        line-height: 1.6;
    }
}

.mb44px {
    margin-bottom: 3.38rem;
}

.pb0px {
    padding-bottom: 0;
}

.copyright {
    padding: 4.92rem 0;
    font-size: 1.23rem;
}

.category-list {
    
    &.style_1 {
        .category-item {
            position: relative;
            border: 1px solid @brand-dark;
            margin-bottom: 2.307rem;
            height: 0;
            padding-bottom: 14%;
            overflow: hidden;
            text-align: center;
            background-size: cover;
            background-position: 50% 50%;
        }
        .category-logo {
            height: 4.615rem;
            margin-top: 3.538rem;
            margin-bottom: 2rem;
            
            width: auto;
            img {
                width: auto;
                height: 100%;
            }
        }
        .category-title {
            font-size: 1.69rem;
            font-weight: bold;
            text-transform: uppercase;
            padding: 0 2rem;
            line-height: 1.2;
            margin-bottom: 1.153rem;
            height: 4rem;
            overflow: hidden;
            display: block;
            color: #262625;
        }
    }
    
    &.style_2 {
        
        .category-inner {
            box-shadow: 0 0 30px 0 rgba(0, 0, 0, .12);
            transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
            margin: 10px 10px 10px 10px;
            padding: 0 0 80px 0;
            overflow: hidden;
            min-height: 100%;
        }
        
        .category-item {
            position: relative;
            text-align: center;
            margin-bottom: 4%;
            &:hover {
                .category-inner {
                    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .12);
                }
            }
        }
        
        .category-preview {
            background-position: 50% 50%;
            background-size: cover;
            background-repeat: no-repeat;
        }
        
        .category-btn-container {
            padding: 0 50px 40px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
        }
        
        .category-logo {
            height: 4.615rem;
            margin-top: 30px;
            padding: 0 30px;
            margin-bottom: 30px;
            
            width: auto;
            img {
                width: auto;
                height: 100%;
            }
        }
        
        .category-description {
            padding: 0 30px;
            margin-bottom: 30px;
        }
        
        .category-title {
            margin-top: 30px;
            font-size: 1.69rem;
            font-weight: bold;
            text-transform: uppercase;
            padding: 0 30px;
            line-height: 1.2;
            margin-bottom: 30px;
            min-height: 4rem;
            overflow: hidden;
            display: block;
            color: #262625;
        }
    }
    
}

.flex-row {
    &.no-margin {
        flex-basis: 100%;
        max-width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

.image-admin {
    position: absolute;
    left: 5px;
    top: 5px;
    & > img {
        display: none;
    }
}

.references-image {
    margin-top: -1.53rem;
}

.contact-box {
    padding-top: 1.384rem;
    padding-left: 6.461rem;
    font-size: 1.69rem;
    font-style: italic;
    margin-bottom: 2.307rem;
    &::before {
        float: left;
        margin-top: -1.53rem;
        margin-left: -6.461rem;
        font-size: 5.69rem;
        color: @brand-primary;
    }
}

.map {
    background-color: #eee;
}

.review-header {
    text-align: center;
}

.pagerating-stars, .review-box {
    .r-head-text {
        display: none;
    }
    .total-review {
        display: none;
    }
}

.review-box {
    .starrating {
        border: 1px solid @brand-primary;
        border-radius: 1rem 1rem 0 0;
        padding: 1rem 1rem 1.23rem;
        margin-bottom: -1px;
    }
}

.review-form {
    border: 1px solid @brand-primary;
    border-radius: 0 0 1em 1em;
    padding: 1rem;
    
    label {
        display: none;
    }
    
    input[type="text"], input[type="email"], textarea {
        .placeholder(#333);
        &:focus {
            .placeholder(transparent);
        }
    }
}

.reply-form {
    border: 1px solid @brand-primary;
    border-radius: 1rem;
    padding: 1rem;
    background: @brand-primary;
    margin-bottom: 1rem;
    label {
        color: @primary-color;
    }
    input[type="text"], textarea {
        background: #f2c64f;
        border: none;
    }
    input[type="text"] {
        height: 2rem;
        line-height: 2rem;
        padding: 0 1rem;
    }
    textarea {
        padding: 1rem;
    }
    
}

.reply-comment-block {
    .close {
        margin: 1rem;
        color: @primary-color;
    }
}

.review-done {
    position: relative;
    padding: .5em .75em;
    border-left: 3px solid #8ada8c;
    color: #2a6a2c;
    background-color: #d0f0d1;
    display: block;
    font-weight: bold;
}

.pagerating-review {
    .edit-review-published-date {
        float: none;
        border: 1px solid @brand-primary;
        padding: 0 1rem 0 3rem;
        height: 2rem;
        line-height: 2rem;
    }
    .labeled {
        &.right {
            position: relative;
            i {
                position: absolute;
                left: 0;
                top: 0;
                display: block;
                width: 2rem;
                height: 2rem;
                line-height: 2rem;
                text-align: center;
                background: @brand-primary;
                color: @primary-color;
            }
        }
    }
}

.pagerating-list {
    .pagerating-review {
        border: 1px solid @brand-primary;
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
    }
    
    .pagerating-info {
        font-weight: bold;
    }
    
    .description, .rating {
        border-bottom: 1px solid @brand-primary;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        overflow: hidden;
    }
    
    .rating {
        width: 100% !important;
    }
}

.response-block-description {
    padding: 1rem;
    background-color: @brand-primary;
    border-radius: 1rem;
    margin-bottom: 1rem;
    color: @primary-color;
    
    b {
        display: block;
        margin-bottom: 0.5rem;
    }
    
    .response-comment {
        margin-bottom: 0;
    }
}

.swiper-slide {
    .pagerating-review {
        margin: 0 1px 1rem;
    }
}

.swiper-button-prev, .swiper-button-next {
    opacity: 0;
    pointer-events: none;
    &[aria-controls] {
        opacity: 1;
        pointer-events: auto;
    }
}

.offline {
    .header {
        padding-top: 0;
    }
    @media only screen and (max-width: 1024px){
        padding-top: 0;
    }
}