// Table of Content
//==================================================
//	Links
//	Heading
//	Blockquotes
//  Toaster icon
//  Custom classes
//==================================================

// Links
//==================================================
a {
    color: @link-color;
    text-decoration: none;
    
    &:visited when not(@link-color-visited = none) {
        color: @link-color-visited;
    }
    
    &:hover {
        color: @link-color-hover
    }
    
    &:active {
        color: @link-color-active;
    }
}

// Heading
//==================================================
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    color: @heading-color;
    font-family: @font-family-headings;
    line-height: 1.2;
    & when not(@heading-weight = bold) and not (@heading-weight = 700) {
        font-weight: @heading-weight;
    }
    
    &:first-child:not(.logo) {
        margin-top: 0;
    }
    
    & when (@componentsJS) and (@widget-rotator) {
        .slide .slide-description & {
            color: @slider-heading-color;
        }
    }
    
    & when not(@footer-heading-color = @heading-color) {
        footer & {
            color: @footer-heading-color;
        }
    }
    
    &:empty {
        display: none;
    }
    & when (@heading-color = #fff) {
        #tinymce & {
            color: #000;
        }
    }
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    & when (@heading-weight = bold) or (@heading-weight = 700) {
        font-weight: @heading-weight;
    }
}

h1, .h1 {
    font-size: 3.6923rem; // 48
}

h2, .h2 {
    font-size: 2.7692rem; // 36
    text-transform: uppercase;
}

h3, .h3 {
    font-size: 1.84rem; // 24
    font-weight: normal;
    margin-bottom: 26px;
}

h4, .h4 {
    font-size: 1.23rem; // 16
}

h5, .h5 {
    font-size: 1.07rem; // 14
}

h6, .h6 {
    font-size: 0.92rem; // 12
}

.subtitle {
    color: @subheading-color;
    font-size: @font-size-mini;
}

p {
    margin-top: 0;
    margin-bottom: 15px;
}

address {
    margin-bottom: 20px;
    font-style: normal;
}

.fs-it {
    p, ul {
        font-style: italic;
    }
}

.section {
    padding-top: 64px;
    padding-bottom: 64px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    
    &.pt-0 {
        padding-top: 0;
    }
    
    &.pt-84 {
        padding-top: 84px;
    }
    
    &.pb-80 {
        padding-bottom: 80px;
    }
    
    &.pb-34 {
        padding-bottom: 34px;
    }
    
    &.pt-114 {
        padding-top: 114px;
    }
    &.pb-114 {
        padding-bottom: 114px;
    }
}

.white-bg {
    background-color: @primary-color;
}

.title {
    font-weight: 400;
    font-style: italic;
    text-transform: none;
    font-size: 48px;
    line-height: 1.2;
    strong {
        font-weight: bold;
    }
}

.default-title {
    font-size: 36px;
    text-transform: uppercase;
    color: #262625;
}

.small-title {
    font-size: 18px;
    font-weight: normal;
    font-style: italic;
    color: #616164;
    text-transform: none;
    margin-bottom: 22px;
}

.separator {
    height: 110px;
    background: #f6f6ef;
}